@using LibraryAssistantApp.Models

@{
    var campus = (Campus)ViewBag.Campus;
    var building = (Building)ViewBag.Building;
    var building_floor = (Building_Floor)ViewBag.Building_Floor;
    var characteristics = (IEnumerable<Characteristic>)ViewBag.Characteristics;
    var types = (IEnumerable<Venue_Type>)ViewBag.Types;
}

<form id="addVenueForm" class="form-group" style="padding-left:50px">
    <table>
        <tr>
            <td><b>Campus Name:</b></td>
            <td style="padding-left:5px">@campus.Campus_Name</td>
        </tr>
        <tr>
            <td><b>Building Name:</b></td>
            <td style="padding-left:5px">@building.Building_Name</td>
        </tr>
        <tr>
            <td><b>Floor Name:</b></td>
            <td style="padding-left:5px">@building_floor.Floor_Name</td>
        </tr>
        <tr>
            <td><b>Type:</b></td>
            <td style="padding-left:5px; padding-bottom:5px">
                <select id="venueTypeSelect" class="form-control" required>
                    @foreach (var vtype in types)
                    {
                        <option id="@vtype.Venue_Type1">@vtype.Venue_Type1</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td><b>Venue Name:</b></td>
            <td style="padding-left:5px; padding-bottom:5px"><input class="form-control" type="text" id="venueName" name="venueName" placeholder="Enter Venue Name" required maxlength="30"/></td>
        </tr>
        <tr>
            <td><b>Capacity:</b></td>
            <td style="padding-left:5px"><input id="venueCapacity" name="venueCapacity" type="number" min="1" max="1000" placeholder="Enter Capacity" class="form-control" required/></td>
        </tr>
    </table>
</form>

<div style="padding-bottom:15px">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <label class="control-label">Venue Characteristics:</label>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Quantity:</label>
        </div>
    </div>
    @foreach (Characteristic characteristic in characteristics)
    {
        <div class="row">
            <div class="charList">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="checkbox">
                        <label><input type="checkbox" value="@characteristic.Characteristic_ID" class="Characteristic_ID" />@characteristic.Characteristic_Name</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <input type="number" class="form-control iCount" title="Quantity of characteristic." min="0" max="1000" value="0"/>
                </div>
            </div>
        </div>
    }
</div>



<div class="row">
    <div class="col-md-12 col-md-offset-1">
        <button class="btn btn-primary" id="btnAddVenueModal">Add Venue</button>
        <button class="btn btn-primary" id="btnCancelModal">Cancel</button>
    </div>
</div>
<hr />

<script type="text/javascript">
    //cancel button
    $("#btnCancelModal").click(function () {
        $('#myModal').modal('toggle');
    })

    //add validation method for alphanumeric characters
    jQuery.validator.addMethod("alphanumeric", function (value, element) {
        return this.optional(element) || /^\w+$/i.test(value);
    }, "Letters, numbers, and underscores only please");

    //initiate form validation
    $("#addVenueForm").validate({
        rules: {
            venueName: {
                required: true,
                remote: {
                    url: '/Venue/checkVenue',
                    type: 'get'
                }
            }
        },

        messages: {
            venueName: {
                remote: 'Venue already exists for the selected building floor'
            }
        },

        errorClass: "my-error-class",
    })

    //add venue
    $("#btnAddVenueModal").click(function () {
        var check = $("#addVenueForm").valid();

        if (check) {

            //get characteristics
            var characteristicsList = [];

            $('.charList').each(function () {
                var indicator = ($('input:checkbox.Characteristic_ID', this).is(':checked'));
                var i = $('.iCount', this).val();
                if (indicator == true) {
                    var sThisVal = ($('input:checkbox.Characteristic_ID', this).val());
                    characteristicsList.push({ seq: sThisVal, count: i });
                };
            });

            //$('input:checkbox.Characteristic_ID').each(function () {
            //    var sThisVal = (this.checked ? $(this).val() : "");
            //    if (sThisVal > 0) {
            //        characteristicsList.push(sThisVal);
            //    };
            //});

            //disable button on add click
            $("#btnAddVenueModal").prop('disabled', true);

            $.ajax({
                type: 'POST',
                url: '/Venue/addVenue',
                data: {
                    venueName: $("#venueName").val(),
                    characteristicsJson: JSON.stringify(characteristicsList),
                    type: $("#venueTypeSelect").children(":selected").prop('id'),
                    capacity: $("#venueCapacity").val()
                },
                success: function (result) {

                    $('#myModal').modal('toggle');

                    $("#venueTable tbody").empty();
                    $("#venueTable thead").empty();

                    $("#venueTable thead").append('<tr><th>Venue Name</th><th>Type</th><th>Capacity</th></tr>')

                    result.forEach(function (entry) {
                        $('#venueTable tbody').append('<tr id="' + entry.id + '"><td>' + entry.name + '</td><td>' + entry.vtype + '</td><td>' + entry.vcapacity + '</tr>');
                    });

                    $.ambiance({
                        message: "Venue Successfully Added!",
                        title: "Success!",
                        type: "success",
                        timeout: 5
                    });
                },
                error: function (err, result) {
                    alert("Error in assigning dataToSave" + err.responseText);
                }
            });
        }
    })
</script>