@model LibraryAssistantApp.Models.Common_Problem_Type

@{
    ViewBag.Title = "Delete Problem Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Problem Type</h2>

<h4 class="bg-info shaded">Are you sure you want to delete this problem type?</h4>
<div>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <h5 class="bg-warning shaded">Problem type details:</h5>
            <div class="panel panel-default">
                <table class="table">
                    <tr>
                        <td><b>@Html.DisplayNameFor(model => model.Common_Problem_Type_Name)</b></td>
                        <td style="padding-left:5px">@Html.DisplayFor(model => model.Common_Problem_Type_Name)</td>
                    </tr>
                    <tr>
                        <td><b>@Html.DisplayNameFor(d => d.Description)</b></td>
                        <td style="padding-left:5px">@Html.DisplayFor(d => d.Description)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> 
            @Html.ActionLink("Back to List", "viewProblemTypes", null, new { @class = "btn btn-primary"})
        </div>
    }
</div>
