@model IEnumerable<LibraryAssistantApp.Models.Characteristic>

@{
    ViewBag.Title = "Characteristucs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/datatables.min.css" />
<script src="~/Scripts/DataTable/datatables.min.js"></script>

<h2>Characteristics</h2>

<p>
    @Html.ActionLink("Create New", "addCharacteristic")
</p>
<table id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Characteristic_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Characteristic_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "updateCharacteristic", new { id = item.Characteristic_ID }) |
                    @Html.ActionLink("Delete", "deleteCharacteristic", new { id = item.Characteristic_ID })
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        //initiate datatable
        $('#table').DataTable();
    })
</script>
