@model IEnumerable<LibraryAssistantApp.Models.Common_Problem>

@{
    ViewBag.Title = "Common Problems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/datatables.min.css" />
<script src="~/Scripts/DataTable/datatables.min.js"></script>
<a href="/help/venue_problems.pdf" title="Page Help"><div class="btn-help"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span></div></a>
<div>
    <h2>Common Problems</h2>
    @Html.ActionLink("Create New", "addCommonProblem", null, new { @class = "btn btn-primary exp-fixed", @title = "Create new common problem." })
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4 class="bg-info shaded">Existing common problems:</h4>
        <div class="panel panel-default">
            <div class="panel-body">
                <table id="table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Problem Type</th>
                            <th>Problem Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var problem in Model)
                        {
                            <tr>
                                <td>@problem.Common_Problem_Type.Common_Problem_Type_Name</td>
                                <td>@problem.Common_Problem_Name</td>
                                <td>@problem.Description</td>
                                <td>
                                    @Html.ActionLink("Edit", "editCommonProblem", new { id = problem.Common_Problem_ID }) |
                                    @Html.ActionLink("Delete", "deleteCommonProblem", new { id = problem.Common_Problem_ID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        //initiate datatable
        $('#table').DataTable();
    })
</script>