@model LibraryAssistantApp.Models.MemberDeleteVM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var alertcolor = "alert-warning";
    if ((string)TempData["Disabled"] == "Disabled")
    {
        alertcolor = "alert-danger";
    }
}

<h3>Delete Member</h3>

<div class="col-md-10">
    <div class="alert @alertcolor" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        <span class="sr-only">Error:</span>
        @ViewBag.ErrorMsg
    </div>
</div>

<div class="form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label class="panel-title">
                            Member Details
                        </label>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.registered_person.Person_ID, htmlAttributes: new { @class = "control-label" })
                                </td>
                                <td>
                                    @Model.registered_person.Person_ID
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.registered_person.Person_Name, htmlAttributes: new { @class = "control-label" })
                                </td>
                                <td>
                                    @Model.registered_person.Person_Name
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.registered_person.Person_Surname, htmlAttributes: new { @class = "control-label" })
                                </td>
                                <td>
                                    @Model.registered_person.Person_Surname
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.LabelFor(model => model.registered_person.Person_Email, htmlAttributes: new { @class = "control-label" })
                                </td>
                                <td>
                                    @Model.registered_person.Person_Email
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label class="panel-title">
                            Roles
                        </label>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                            @if (Model.person_role.Count() != 0)
                            {
                                foreach (var item in Model.person_role)
                                {
                                    <tr id="@item.Role_ID">
                                        <td>
                                            @item.Role.Role_Name
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-11 col-md-offset-1">
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" @TempData["Disabled"] /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    }
</div>
