@using System.Web.Optimization
@model LibraryAssistantApp.Models.MemberEditVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Member</h2>
<hr />
<div class="row" style="padding-bottom:5px">
    <div style="padding-left:20px">
        <p class="text-muted"><strong>Note:</strong> This form should be used when:</p>
        <ul class="text-muted">
            <li>
                Potential member had trouble updating user details.
            </li>
            <li>
                Member has requested updateded details by an administrator.
            </li>
        </ul>
        <p class="text-warning">
            'Reset Password' will send a new password to the email on record.
        </p>
    </div>
</div>
<h4 class="bg-info shaded">Update member details below</h4>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.person_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.person_id, new { htmlAttributes = new { @class = "form-control", @disabled = true, @title="Username cannot be updated." } })
                @Html.ValidationMessageFor(model => model.person_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.person_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.person_name, new { htmlAttributes = new { @class = "form-control", @title="Name must be alphabetic, can contain whitespace." } })
                @Html.ValidationMessageFor(model => model.person_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.person_surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.person_surname, new { htmlAttributes = new { @class = "form-control", @title="Surname must be alphabetic, can contain whitespace." } })
                @Html.ValidationMessageFor(model => model.person_surname, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.person_email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.person_email, new { htmlAttributes = new { @class = "form-control", @title="Email address must be in the correct format." } })
                @Html.ValidationMessageFor(model => model.person_email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btn-reset-mem" type="button" value="Reset Password" class="btn btn-primary" title="Reset this members password, the new password will be sent to the members email address on record." />
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row" style="padding-top:20px; padding-bottom:20px">
            <div class="col-md-10">
                <input id="btn-submit" type="submit" value="Save Changes" class="btn btn-primary" title="Save changes updated for this member."/>
            </div>
        </div>
    </div>
                        }
<div class="col-md-2">
    @Html.ActionLink("Back to List", "Index")
</div>

@section script {
    <script src="~/Scripts/bootbox.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

        });

        $(document).ready(function () {
            $('#btn-reset-mem').click(function () {
                bootbox.confirm({
                    title: "Reset Password?",
                    message: "Are you sure you want to reset the password?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result == true)
                        {
                            var b = '@Model.person_id';
                            var e = '@Model.person_email';
                            var n = noty({
                                layout: 'topRight',
                                text: 'Password reset successful. New password has been sent to the email on record for this member.',
                                type: 'success',
                                animation: {
                                    open: { height: 'toggle' },
                                    close: { height: 'toggle' },
                                    easing: 'swing',
                                    speed: 500
                                },
                                timeout: 5000,
                            });
                            $.ajax({
                                type: 'GET',
                                data: { id: b, _email: e },
                                url: '@Url.Action("ResetPassword", "Member")',
                                beforeSend: function () {
                                    $('.loading').show();
                                },
                            }).done(function () {
                                $('.loading').hide();
                            });
                        } else {

                        }
                    }
                });
            });
        });
    </script>
}