@model LibraryAssistantApp.Models.MemberIndexVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#search-mem').click(function () {
            $('#search-header-mem').toggleClass('col-md-2 col-sm-4');
            $('#search-header-mem').toggleClass('col-md-4 col-sm-6');
            $('#mem-panel').toggleClass('col-md-10 col-sm-12');
            $('#mem-panel').toggleClass('col-md-8 col-sm-12');
            $('#search-mem span').toggleClass('glyphicon-remove');
            $('#search-panel-mem').toggle(200);
        });
    });
</script>

@{
    var alertcolor = TempData["color"];
 }


<div class="row message" @TempData["Hidden"]>
    <div class="col-md-10">
        <div class="alert @alertcolor" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="sr-only">Error:</span>
            @TempData["Msg"]
        </div>
    </div>
</div>

<h3>Members</h3>
<span class="field-validation-error text-danger">@TempData["ErrorMsg"]</span>
<span style="text-indent:4em" class="text-success">@TempData["SuccessMsg"]</span>
<div class="container">
    <div class="row">
        <div id="mem-panel" class="col-md-10 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label class="panel-title">Details</label>
                </div>
                <div id="mem-partial">
                    @{Html.RenderPartial("Members");}
                </div>

                <div class="panel-body">
                    <div class="btn-group" role="group" aria-label="...">
                        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
                    </div>
                    <div class="btn-group">
                        @Html.ActionLink("Update", "Edit", null, htmlAttributes: new { @class = "btn btn-default btn-edit" })
                    </div>
                    <div class="btn-group">
                        @Html.ActionLink("Delete", "Delete", null, htmlAttributes: new { @class = "btn btn-default btn-delete" })
                    </div>
                    <div class="loading"><img src="~/gif/rolling-sm-dark.gif" /></div>
                </div>
            </div>
        </div>
        <div id="search-header-mem" class="col-md-2 col-sm-4 cursor">
            <div class="panel panel-default">
                <div id="search-mem" class="panel-heading">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                    <label class="panel-title cursor">Search</label>
                </div>
                <div id="search-panel-mem" class="panel-body" style="display:none">

                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Username:</label>
                            <div class="form-group-sm">
                                <input id="username" class="form-control" name="username" value="@Request["username"]" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <label class="control-label">Name:</label>
                            <div class="form-group-sm">
                                <input id="name" class="form-control" name="name" value="@Request["name"]" />
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Surname:</label>
                            <div class="form-group-sm">
                                <input id="surname" class="form-control" name="surname" value="@Request["surname"]" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Email:</label>
                            <div class="form-group-sm">
                                <input id="email" class="form-control" name="email" value="@Request["email"]" />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group-sm">
                                <button id="btn-search-mem" class="btn btn-default">Search</button>
                                <button id="btn-reset" class="btn btn-default">Clear</button>
                                @Html.ActionLink("View all", "Index")
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="mem-details">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="panel-title">
                    Member Details
                </label>
            </div>
            <div class="panel-body">
                <span class="field-validation-error text-warning">No member selected</span>
            </div>
        </div>
    </div>
</div>

@section script {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#rolesList').change(function () {
                var a = $(this).children(':selected').attr('id');
                var b = $('#username').val();
                var c = $('#name').val();
                var d = $('#surname').val();
                var e = $('#email').val();
                $.ajax({
                    type: 'GET',
                    data: { roleid: a, username: b, name: c, surname: d, email: e },
                    url: '@Url.Action("Employees", "Employee")',
                    beforeSend: function () {
                        $('.loading').show();
                    },
                    success: function (result) {
                        $('#mem-partial').html(result);
                    }
                }).done(function () {
                    $('.loading').hide();
                });
            });
            $('#btn-search-mem').click(function () {
                var a = $(this).children(':selected').attr('id');
                var b = $('#username').val();
                var c = $('#name').val();
                var d = $('#surname').val();
                var e = $('#email').val();
                $.ajax({
                    type: 'GET',
                    data: { roleid: a, username: b, name: c, surname: d, email: e },
                    url: '@Url.Action("Members", "Member")',
                    beforeSend: function () {
                        $('.loading').show();
                    },
                    success: function (result) {
                        $('#mem-partial').html(result);
                    }
                }).done(function () {
                    $('.loading').hide();
                });
            });
            $('#btn-reset').click(function () {
                $('#username').val('');
                $('#name').val('');
                $('#surname').val('');
                $('#email').val('');
            });
            $('.message').click(function () {
                $(this).hide();
            })
        });
    </script>


}
