@using LibraryAssistantApp.Models

@{
    ViewBag.Title = "Update Favourite Topics";
    var categories = (IEnumerable<Category>)Session["categories"];
    var availTopics = (IEnumerable<Topic>)Session["availTopics"];
    var favTopics = (IEnumerable<Person_Topic>)Session["favTopics"];
}

<h2>Update Favourite Topics</h2>

<div class="row">
    <div class="col-md-12">
        <h4 class="bg-info shaded text-muted" style="text-align:center">
            <strong>Favourite topics</strong> and get notified when a training session is created
        </h4>
    </div>
</div>

<div class="row" style="padding-bottom:25px">            
    <div class="col-md-6">
        <div>
            <h4 class="bg-warning shaded">
                Available Course Topics
            </h4>
            <select class="form-control drop-fixed" id="favouriteCategorySelect">
                <option selected value="all">All</option>
                @foreach (var item in categories)
            {
                    <option value="@item.Category_ID">@item.Category_Name</option>
                }
            </select>
        </div>
        <select size="8" class="form-control" id="availTopicsSelect" style="height:250px; max-width:800px">
            @foreach (var topic in availTopics)
            {
                <option value="@topic.Topic_Seq">@topic.Topic_Name</option>
            }
        </select>
        <input title="Add the selected topic to 'My topics'." type="button" value="Add Topic" class="btn btn-primary" style="margin-top:5px" id="btnAddFavTop" disabled />
    </div>
    <div class="col-md-6" style="padding-bottom:15px">
        <h4 class="bg-warning shaded">
            My Topics
        </h4>
        <select size="8" class="form-control" id="favouriteTopicSelect" style="height:250px; max-width:800px">
            @foreach (var topic in favTopics)
            {
                <option value="@topic.Topic_Seq">@topic.Topic.Topic_Name</option>
            }
        </select>
        <input title="Remove the selected topic from 'My topics'." type="button" value="Remove" class="btn btn-primary" style="margin-top:5px" id="btnRemFavTop" disabled />
    </div>
</div>
<div class="row">
    <div class="col-md-12">    
        @Html.ActionLink("Back to Profile", "Details", "RegisteredPerson", htmlAttributes: new { @class = "btn btn-primary", @title="Back to user profile." })
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#favouriteCategorySelect").change(function () {
            var category = $("#favouriteCategorySelect").children(":selected").val();

            $.ajax({
                type: 'GET',
                url: '/RegisteredPerson/getAvailTopics',
                data: { category: category },
                success: function (result) {
                    var options = $("#availTopicsSelect");

                    //remove existing options from the select to add new options
                    options.children().remove();


                    if (result.length == 0) {
                        options.children().remove();
                        options.append($("<option disabled selected value />").text("-- no topics --"));
                    }

                    //add an option to the select for each building
                    result.forEach(function (entry) {
                        options.append($("<option />").val(entry.id).text(entry.text));
                    });
                },
                error: function (err, result) {
                    alert("No Topic Selected");
                }
            });
        })

        $("#btnAddFavTop").click(function () {
            var id = $("#availTopicsSelect").children(":selected").val();
            var text = $("#availTopicsSelect").children(":selected").text();
            $.ajax({
                url: '/RegisteredPerson/addTopic',
                type: 'post',
                data: { id: id },
                success: function (result) {
                    //remove selected topic from available list and add it to the favourites list
                    $("#availTopicsSelect option[value='" + id + "']").remove();
                    $("#favouriteTopicSelect").append($("<option />").val(id).text(text));
                    $("#btnAddFavTop").prop('disabled', true)
                },
                error: function (err, result) {
                    alert("No Topic Selected" + err.responseText);
                }
            });
        })

        $("#btnRemFavTop").click(function () {
            var id = $("#favouriteTopicSelect").children(":selected").val();
            var text = $("#favouriteTopicSelect").children(":selected").text();
            $.ajax({
                url: '/RegisteredPerson/removeTopic',
                type: 'post',
                data: { id: id },
                success: function (result) {
                    //remove selected topic from available list and add it to the favourites list
                    $("#favouriteTopicSelect option[value='" + id + "']").remove();
                    $("#availTopicsSelect").append($("<option />").val(id).text(text));
                    $("#btnRemFavTop").prop('disabled', true);
                },
                error: function (err, result) {
                    alert("No Topic Selected");
                }
            });
        })

        $("#availTopicsSelect").change(function () {
            $("#btnAddFavTop").prop('disabled', false)
        })

        $("#favouriteTopicSelect").change(function () {
            $("#btnRemFavTop").prop('disabled', false)
        })
    })
</script>

