@using System.Web.Optimization
@model LibraryAssistantApp.Models.RoleIndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#result-table-1 tr').click(function () {
            $('#result-table-1 tr').removeClass('selectedrow');
            $(this).addClass('selectedrow');
            $('.btn-edit').attr('href', '/Role/Edit/' + $(this).attr('id'));
            $('.btn-delete').attr('href', '/Role/Delete/' + $(this).attr('id'));
            var a = $(this).attr('id');
            $.ajax({
                type: 'GET',
                data: { id : a },
                url: '@Url.Action("RoleDetails", "Role")',
                success: function (result) {
                    $('#role-details').html(result);
                }
            });
            });
    });

</script>   

<h2>Roles</h2>
<div class="row">
    <div class="table-responsive">
        <table class="table" id="result-table-1">
            <thead>
                <tr>
                    <th>
                        Role Name
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Roles)
                {
                    <tr id="@item.Role_ID">
                        <td>
                            @item.Role_Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-danger" })
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
        @Html.ActionLink("Update", "Edit", null, htmlAttributes: new { @class = "btn btn-default btn-edit" })
        @Html.ActionLink("Delete", "Delete", null, htmlAttributes: new { @class = "btn btn-default btn-delete" })
    </div>
</div>

<div class="col-md-8" id="role-details">
</div>


<div class="col-md-4" id="action-details">

</div>