<script>
    $(document).ready(function () {
        $('#result-table-2 tr').click(function () {
            $('#result-table-2 tr').removeClass('selectedrow');
            $(this).addClass('selectedrow');
            var a = $(this).attr('id');
            $.ajax({
                type: 'GET',
                data: { actionID: a },
                url: '@Url.Action("ActionDetails", "Role")',
                success: function (result) {
                    $('#action-details').html(result);
                }
            });
        });
    });
</script>
<h4>Actions of select role | select action to view details</h4>
<div class="panel panel-default">
    <div class="table-responsive">
        <table class="table table-condensed" id="result-table-2">
            <thead>
                <tr>
                    <th>
                        Action
                    </th>
                    <th>
                        Create
                    </th>
                    <th>
                        Read
                    </th>
                    <th>
                        Update
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RoleActions)
                {
                    string selectedRow = "";
                    if (item.Action_ID == ViewBag.actionID)
                    {
                        selectedRow = "selectedrow";
                    }
                    <tr class="@selectedRow" id="@item.Action_ID">
                        <td>
                            @item.Action.Action_Name
                        </td>
                        <td>
                            @item.Create_Ind
                        </td>
                        <td>
                            @item.Read_Ind
                        </td>
                        <td>
                            @item.Update_Ind
                        </td>
                        <td>
                            @item.Delete_Ind
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


