@using System.Web.Optimization
@model LibraryAssistantApp.Models.RoleIndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#result-table-1 tbody tr').click(function () {
            $('#result-table-1 tr').removeClass('selectedrow');
            $(this).addClass('selectedrow');
            $('.btn-edit').attr('href', '/Role/Edit/' + $(this).attr('id'));
            $('.btn-delete').attr('href', '/Role/Delete/' + $(this).attr('id'));
            var a = $(this).attr('id');
            $.ajax({
                type: 'GET',
                data: { id: a },
                url: '@Url.Action("RoleDetails", "Role")',
                beforeSend: function (){
                    $('.loading').show();
                },
                success: function (result) {
                    $('#role-details').html(result);
                }
            }).done(function () {
                $('.loading').hide();
            });
        });
    });
</script>   

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <h3>Roles View</h3><span class="field-validation-error text-danger">@TempData["Error"]</span>
        </div>
        <form class="navbar-form navbar-right">
            @using (Html.BeginForm("Index", "Role", FormMethod.Get))
            {
                @Html.ActionLink("View all", "Index")
                <div class="form-group">
                    <input class="form-control" placeholder="search roles" name="search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            }
        </form>
    </div>
</nav>

<div class="row">
    <div class="col-md-6">
        <h4>Roles</h4>
        <div class="panel panel-default">
            <div class="table">
                <table class="table table-condensed" id="result-table-1">
                    <thead>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Roles)
                        {
                            <tr id="@item.Role_ID">
                                <td>
                                    @item.Role_Name
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="btn-group" role="group" aria-label="...">
                @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
            </div>
            <div class="btn-group">
                @Html.ActionLink("Update", "Edit", null, htmlAttributes: new { @class = "btn btn-default btn-edit" })
            </div>
            <div class="btn-group">
                @Html.ActionLink("Delete", "Delete", null, htmlAttributes: new { @class = "btn btn-default btn-delete" })
            </div>
            <div class="loading"><img src="~/gif/rolling-sm-dark.gif" /></div>
        </div>
    </div>

    <div class="col-md-6" id="role-details">
        <h4>Actions</h4>
        <div class="panel panel-default">
            <div class="panel-body">
                <span class="field-validation-error text-warning">No role selected</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-6" id="action-details">
        <div class="panel panel-default">
            <div class="panel-body">
                <span class="field-validation-error text-warning">No action selected</span>
            </div>
        </div>
    </div>
</div>





