@model LibraryAssistantApp.Models.BookingsReport
@{
    ViewBag.Title = "BookingReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookingReport</title>
</head>
<body>
    <div>
        <h2>Bookings Report</h2>
        <button onclick="javascript:demoFromHTML()" class="btn btn-primary exp-fixed"><span class="fa fa-file-pdf-o"></span> Export PDF</button>
    </div>
    <div>
        <h4 class="bg-info shaded">
            Booking Report By Month
        </h4>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="" style="">
                        <div class="">
                            <select id="yearList" class="form-control">
                                <option selected>@ViewBag.YearSelected</option>
                                @foreach (var item in ViewBag.Year)
                                {
                                    <option id="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            <div class="panel-body">
                <table id="tbl-booking-r" class="table table-bordered" title="Booking log results.">
                    <thead>
                        <tr class="shade-blue">
                            <th>
                            </th>
                            <th style="text-align:center" colspan="2">
                                Venue Type
                            </th>
                            <th style="text-align:center" colspan="2">
                                Attendee Type
                            </th>
                            <th style="text-align:center" colspan="5">
                                Booking Status
                            </th>
                            <th>

                            </th>
                        </tr>
                        <tr class="shade-blue-l">
                            <th>
                                Month
                            </th>
                            <th>
                                Discussion Room
                            </th>
                            <th>
                                Training Room
                            </th>
                            <th>
                                Students
                            </th>
                            <th>
                                Trainers
                            </th>
                            <th>
                                Active
                            </th>
                            <th>
                                Confirmed
                            </th>
                            <th>
                                Complete
                            </th>
                            <th>
                                Cancelled
                            </th>
                            <th>
                                Tenative
                            </th>
                            <th>
                                Total Bookings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.bookingsreportlist)
                        {
                            <tr>
                                <td>
                                    @item.monthname
                                </td>
                                <td>
                                    @item.discussionCount
                                </td>
                                <td>
                                    @item.trainingCount
                                </td>
                                <td>
                                    @item.studentCount
                                </td>
                                <td>
                                    @item.trainerCount
                                </td>
                                <td>
                                    @item.activeCount
                                </td>
                                <td>
                                    @item.confirmedCount
                                </td>
                                <td>
                                    @item.completeCount
                                </td>
                                <td>
                                    @item.cancelledCount
                                </td>
                                <td>
                                    @item.tenativeCount
                                </td>
                                <td>
                                    @item.total
                                </td>
                            </tr>
                        }
                        <tr class="shade-blue-l">
                            <td>
                                <label>Total</label>
                            </td>
                            <td>
                                <label>@Model.Total.discussionTotal</label>
                            </td>
                            <td>
                                <label>@Model.Total.trainingTotal</label>
                            </td>
                            <td>
                                <label>@Model.Total.studentTotal</label>
                            </td>
                            <td>
                                <label>@Model.Total.trainerTotal</label>
                            </td>
                            <td>
                                <label>@Model.Total.activeTotal</label>
                            </td>
                            <td>
                                <label>@Model.Total.confirmedTotal</label>
                            </td>
                            <td>
                                <label>@Model.Total.completeTotal</label>
                            </td>
                            <td>
                                <label>@Model.Total.cancelledTotal</label>
                            </td>
                            <td>
                                <label>@Model.Total.tenativeTotal</label>
                            </td>
                            <td>
                                <label>@Model.Total.bookingTotal</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="bg-success shaded">Bookings per month for @ViewBag.YearSelected</h4>
                    <canvas id="linechart" width="400" max-height="400"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4 class="bg-warning shaded">Attendee type pie chart</h4>
                <canvas id="piechart" width="400" max-height="400"></canvas>
        </div>
        <div class="col-md-6">
            <h4 class="bg-info shaded">Booking type pie chart</h4>
                <canvas id="piechart2" width="400" max-height="400"></canvas>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $('#yearList').change(function () {
            var a = $(this).children(':selected').attr('id');
            window.location.replace("/Reporting/BookingReport?year=" + a);
        });
        var arrayTotal = new Array();
        @foreach (var item in Model.bookingsreportlist)
        {
            @:arrayTotal.push(@item.total);
                                }
        var arrayMonths = new Array();
                @foreach (var item in Model.bookingsreportlist)
        {
            @:arrayMonths.push('@item.monthname');
                }
        var ctx = document.getElementById("linechart");
        var linechart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: arrayMonths,
                datasets: [{
                    label: '#Bookings: @ViewBag.YearSelected',
                    data: arrayTotal,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        var data = {
            labels: [
                "Students",
                "Trainers"
            ],
            datasets: [
                {
                    data: [@Model.Total.studentTotal, @Model.Total.trainerTotal],
                    backgroundColor: [
                        "#FF6384",
                        "#36A2EB"
                    ],
                    hoverBackgroundColor: [
                        "#FF6384",
                        "#36A2EB"
                    ]
                }]
        };
        var ptx = document.getElementById("piechart");
        var myPieChart = new Chart(ptx,{
            type: 'pie',
            data: data
        });
        var data2 = {
            labels: [
                "Discussion Room",
                "Training Room"
            ],
            datasets: [
                {
                    data: [@Model.Total.discussionTotal, @Model.Total.trainingTotal],
                    backgroundColor: [
                        "#FF6384",
                        "#FFCE56",
                    ],
                    hoverBackgroundColor: [
                        "#FF6384",
                        "#FFCE56",
                        
                    ]
                }]
        };
        var ptx2 = document.getElementById("piechart2");
        var myPieChart = new Chart(ptx2, {
            type: 'pie',
            data: data2
        });
    });
    function demoFromHTML() {
        $('#tbl-booking-r').tableExport({ type: 'pdf', escape: 'false', pdfFontSize: '7', pdfOrientation: 'l',  pdfFormat: 'a3' });
    };
</script>