@model LibraryAssistantApp.Models.DocumentAccess
@{
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

@{
    var i = 0;
    var j = 0;
 }

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>documentAccessReport</title>
</head>
<body>
    <div>
        <h2>Document Access Log</h2>
        <button onclick="javascript:demoFromHTML()" class="btn btn-primary exp-fixed"><span class="fa fa-file-pdf-o"></span> Export PDF</button>
    </div>
    <div class="panel panel-default">
        <table id="doc-report" class="table table-condensed tbl-bordered">
            <tbody>
                @foreach (var item in Model.doc_types)
            {
                    <tr>
                        <td>
                            <h4 style="text-align:center">Type:</h4>
                        </td>
                        <td>
                            <h4 style="text-align:center">@item.doc_type</h4>
                        </td>
                    </tr>
                    for (i = i; i < item.doc_count; i++)
                    {
                        <tr class="shade-blue">
                            <td>
                                Document ID
                            </td>
                            <td>
                                Document Name
                            </td>
                            <td>
                                Document Extension
                            </td>
                        </tr>
                        <tr class="shade-blue-l">
                            <td>
                                @Model.docs[i].doc_id
                            </td>
                            <td>
                                @Model.docs[i].doc_name
                            </td>
                            <td>
                                @Model.docs[i].doc_ext
                            </td>
                        </tr>
                        var t = 0;
                        for (j = j; j < Model.docs[i].count; j++)
                        {                            
                                if (t == 0)
                                {
                                t = 1;
                                    <tr class="shade-green">
                                        <td>
                                            Username
                                        </td>
                                        <td>
                                            Session ID
                                        </td>
                                        <td>
                                            Access Date and Time
                                        </td>
                                    </tr>
                                }
                            <tr class="shade-green-l">
                                <td>
                                    @Model.doc_access[j].Person_Session_Log.Person_ID
                                </td>
                                <td>
                                    @Model.doc_access[j].Session_ID
                                </td>
                                <td>
                                    @Model.doc_access[j].Access_DateTime
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

<script type="text/javascript">
    function demoFromHTML() {
        $('#doc-report').tableExport({ type: 'pdf', escape: 'false', pdfFontSize: '7' });
    };
</script>