@model LibraryAssistantApp.Models.EmployeeIndexModel

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#search-emp').click(function () {
            $('#search-header').toggleClass('col-md-2 col-sm-4');
            $('#search-header').toggleClass('col-md-4 col-sm-6');
            $('#emp-panel').toggleClass('col-md-10 col-sm-12');
            $('#emp-panel').toggleClass('col-md-8 col-sm-12');
            $('#search-emp span').toggleClass('glyphicon-remove');
            $('#search-panel').toggle(200);
        });
    });
</script> 

@{
    var alertcolor = TempData["color"];
}


<div class="row message" @TempData["Hidden"]>
    <div class="col-md-12">
        <div class="alert @alertcolor" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="sr-only">Error:</span>
            @TempData["Msg"]
        </div>
    </div>
</div>


<h2 style="padding-bottom:25px">Employees</h2>

<div class="container">
    <div class="row">
        <div id="emp-panel" class="col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom:15px">
                    <label class="panel-title">Details</label>
                    <select id="rolesList" class="form-control" style="position:absolute; top:7px; right:20px" title="Filter employees by role.">
                        <option selected>All Roles</option>
                        @foreach (var item in ViewBag.Roles)
                        {
                            <option id="@item.Value">@item.Text</option>
                        }
                    </select>
                </div>
                <div class="panel-body">
                    <div id="emp-partial">
                        @{Html.RenderPartial("Employees");}
                    </div>
                </div>

                <div class="panel-body">
                    <div class="btn-group" role="group" aria-label="...">
                        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary", @title="Create new employee" })
                    </div>
                    <div class="btn-group">
                        @Html.ActionLink("Update", "Edit", null, htmlAttributes: new { @class = "btn btn-primary btn-edit", @title="Update selected employee." })
                    </div>
                    <div class="btn-group">
                        @Html.ActionLink("Delete", "Delete", null, htmlAttributes: new { @class = "btn btn-primary btn-delete", @title="Delete selected employee." })
                    </div>
                    <div class="loading"><img src="~/gif/rolling-sm-dark.gif" /></div>
                </div>
            </div>
        </div>
        @*<div id="search-header" class="col-md-2 col-sm-4 cursor">
            <div class="panel panel-default">
                <div id="search-emp" class="panel-heading">
                    <span class="glyphicon glyphicon-plus pull-right"></span>
                    <label class="panel-title cursor">Search</label>
                </div>
                <div id="search-panel" class="panel-body" style="display:none">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Username:</label>
                                <div class="form-group-sm">
                                    <input id="username" class="form-control" name="username" value="@Request["username"]"/>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <label class="control-label">Name:</label>
                                    <div class="form-group-sm">
                                        <input id="name" class="form-control" name="name" value="@Request["name"]"/>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Surname:</label>
                                    <div class="form-group-sm">
                                        <input id="surname" class="form-control" name="surname" value="@Request["surname"]" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Email:</label>
                                    <div class="form-group-sm">
                                        <input id="email" class="form-control" name="email" value="@Request["email"]"/>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group-sm">
                                        <button id="btn-search" class="btn btn-default">Search</button>
                                        <button id="btn-reset" class="btn btn-default">Clear</button>
                                        @Html.ActionLink("View all", "Index")
                                    </div>
                                </div>
                            </div>
                    
                </div>
            </div>
        </div>*@
        </div>
</div>

<div id="emp-roles">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="panel-title">
                    Employee Details
                </label>
            </div>
            <div class="panel-body">
                <span class="field-validation-error text-warning">No employee selected</span>
            </div>
        </div>
    </div>
</div>

@section script {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#rolesList').change(function () {
                var a = $(this).children(':selected').attr('id');
                var b = $('#username').val();
                var c = $('#name').val();
                var d = $('#surname').val();
                var e = $('#email').val();
                $.ajax({
                    type: 'GET',
                    data: { roleid: a, username: b, name: c, surname: d, email: e },
                    url: '@Url.Action("Employees", "Employee")',
                    beforeSend: function () {
                        $('.loading').show();
                    },
                    success: function (result) {
                        $('#emp-partial').html(result);
                    }
                }).done(function () {
                    $('.loading').hide();
                });
            });
            $('#btn-search').click(function () {
                var a = $(this).children(':selected').attr('id');
                var b = $('#username').val();
                var c = $('#name').val();
                var d = $('#surname').val();
                var e = $('#email').val();
                $.ajax({
                    type: 'GET',
                    data: { roleid: a, username: b, name: c, surname: d, email: e },
                    url: '@Url.Action("Employees", "Employee")',
                    beforeSend: function () {
                        $('.loading').show();
                    },
                    success: function (result) {
                        $('#emp-partial').html(result);
                    }
                }).done(function () {
                    $('.loading').hide();
                });
            });
            $('#btn-reset').click(function () {
                $('#username').val('');
                $('#name').val('');
                $('#surname').val('');
                $('#email').val('');
            });
            $('.message').click(function () {
                $(this).hide();
            })
        });
    </script>


    }
