@model LibraryAssistantApp.Models.EmployeeIndexModel

@* We are no longer displayng actions of selected role *@
@*<script>
    $(document).ready(function () {
        $('#result-table-5 tbody tr').click(function () {
            $('#result-table-5 tr').removeClass('selectedrow');
            $(this).addClass('selectedrow');
            var a = $(this).attr('id');
            $.ajax({
                type: 'GET',
                data: { id: a },
                url: '@Url.Action("RoleDetails", "Employee")',
                beforeSend: function (){
                    $('.loading').show();
                },
                success: function (result) {
                    $('#emp-action').html(result);
                }
            }).done(function () {
                $('.loading').hide();
            });
        });
    });
</script>*@ 

@{ var error = ViewBag.ErroMsg="";}

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="panel-title">
                    Employee Details
                </label>
            </div>
            <table class="table table-bordered" title="Selected employee details.">
                <tbody>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.person_id, htmlAttributes: new { @class = "control-label" })
                        </td>
                        <td>
                            @Model.person_id
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.person_name, htmlAttributes: new { @class = "control-label" })
                        </td>
                        <td>
                            @Model.person_name
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.person_surname, htmlAttributes: new { @class = "control-label" })
                        </td>
                        <td>
                            @Model.person_surname
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.person_email, htmlAttributes: new { @class = "control-label" })
                        </td>
                        <td>
                            @Model.person_email
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label class="panel-title">
                    Roles
                </label>
            </div>
            <table id="result-table-5" class="table" title="Selected employee role details.">
                <thead>
                    <tr>
                        <td>
                            <span class="text-info">Roles assigned to the selected employee:</span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.person_role.Count() != 0)
            {
                ViewBag.ErrorMsg = "No employee selected";
                foreach (var item in Model.person_role)
                {
                            <tr id="@item.Role_ID">
                                <td>
                                    @item.Role.Role_Name
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if ((bool)TempData["Check"] == true)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label class="panel-title">
                        Trainer Topics
                    </label>
                </div>
                <table class="table" title="Selected employees trainer topics.">
                    <thead>
                        <tr>
                            <th>
                                Topic
                            </th>
                        </tr>
                    </thead>
                    @for (int i = 0; i < Model.trainer_topic.Count(); i++)
                {
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => m.trainer_topic[i].Topic.Topic_Name)
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    }

