@model IEnumerable<LibraryAssistantApp.Models.Venue_Booking>

@{
    ViewBag.Title = "Training_Session_Assessment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Hidden("Name", (string)ViewBag.Name, new { id = "Name" })
@Html.Hidden("Description", (string)ViewBag.Description, new { id = "Description" })
@Html.Hidden("Active_From", (DateTime)ViewBag.Active_From, new { id = "Active_From" })
@Html.Hidden("Active_To", (DateTime)ViewBag.Active_To, new { id = "Active_To" })
@Html.Hidden("Assessment_Type", (string)ViewBag.Assessment_Type, new { id = "Assessment_Type" })
@Html.Hidden("Topic", (int)ViewBag.Topic, new { id = "Topic" })
@Html.Hidden("Questionnaire_ID", (int)ViewBag.Questionnaire_ID, new { id = "Questionnaire_ID" })
@Html.Hidden("Count", (int)ViewBag.Count, new { id = "Count" })
@Html.Hidden("Edit_or_New", (string)ViewBag.Edit_or_New, new { id = "Edit_or_New" })
@Html.Hidden("Selected_TrainingSession", (int?)ViewBag.Selected_TrainingSession, new { id = "Selected_TrainingSession" })

<h2>Select the training session to be assessed by this questionnaire</h2>



<div class="panel panel-default">
    <div class="panel-heading">Search Criteria</div>
    <div class="panel-body">

        <div class="form-group">
            @Html.Label("From", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("From", new { htmlAttributes = new { @class = "datepick form-control", id = "From", @readonly = "true", @value = ViewBag.From } })
                <label class="text-danger" id="Active_From_Validation"></label>
            </div>
        </div>

        <script>
            $('.datepick').each(function () {
                $(this).datepicker();
            });

        </script>


        <div class="form-group">
            @Html.Label("Search by Topic", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Topic_For_Training", null, "All", htmlAttributes: new { @class = "form-control", id = "Topic_For_Training" })
                <label class="text-danger" id="Active_To_Validation"></label>
            </div>
        </div>

        <input type="submit" class="btn btn-default" value="Search" onclick="Search();" /> | <input type="button" class="btn btn-default" value="Clear" onclick="Clear();" />

    </div>
</div>


<script>
    function Search() {
        var FromDate = document.getElementById("From").value;
        var Topic_For_Training = document.getElementById("Topic_For_Training").value;
        var Name = document.getElementById("Name").value;
        var Description = document.getElementById("Description").value;
        var Active_From = document.getElementById("Active_From").value;
        var Active_To = document.getElementById("Active_To").value;
        var Assessment_Type = document.getElementById("Assessment_Type").value;
        var Topic = document.getElementById("Topic").value;
        var Selected_TrainingSession = document.getElementById("Selected_TrainingSession").value;


        var count = document.getElementById("Count").value;
        var Selected = "";                

        for (var i = 0; i < count; i++) {
            var NameToCheck = "TrainingSession " + i;
            if (document.getElementById(NameToCheck).checked) {
                Selected = document.getElementById("TrainingSession " + i).value;
            }
        }
        if (Selected == "") {
            Selected = Selected_TrainingSession;
        }


        if (FromDate == "") {
            FromDate = "11/11/1111";
        }
        
        window.location.href = "/Questionnaire/TrainingSession_Search?FromDate=" + FromDate + "&Selected_TrainingSession=" + Selected + "&Topic_For_Training=" + Topic_For_Training + "&Name=" + Name + "&Description=" + Description + "&Active_From=" + Active_From + "&Active_To=" + Active_To + "&Assessment_Type=" + Assessment_Type + "&Topic=" + Topic;
    }

    function Clear() {                
        var Name = document.getElementById("Name").value;
        var Description = document.getElementById("Description").value;
        var Active_From = document.getElementById("Active_From").value;
        var Active_To = document.getElementById("Active_To").value;
        var Assessment_Type = document.getElementById("Assessment_Type").value;
        var Topic = document.getElementById("Topic").value;
        var Selected_TrainingSession = document.getElementById("Selected_TrainingSession").value;


        var count = document.getElementById("Count").value;
        var Selected = "";

        for (var i = 0; i < count; i++) {
            var NameToCheck = "TrainingSession " + i;
            if (document.getElementById(NameToCheck).checked) {
                Selected = document.getElementById("TrainingSession " + i).value;
            }
        }

        if (Selected == "") {
            Selected = Selected_TrainingSession;
        }

        window.location.href = "/Questionnaire/TrainingSession_Search?FromDate=" + "11/11/1111" + "&Selected_TrainingSession=" + Selected + "&Topic_For_Training=" + "&Name=" + Name + "&Description=" + Description + "&Active_From=" + Active_From + "&Active_To=" + Active_To + "&Assessment_Type=" + Assessment_Type + "&Topic=" + Topic;
    }

</script>

<div class="panel panel-default">
    <div class="panel-heading">List of training sessions</div>
    <div class="panel-body">
        <div>
            <label class="text-danger" id="Error"></label>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>
                        Training session
                    </th>
                    <th>
                        Topic
                    </th>
                    <th style="text-align:center;">
                        Selected
                    </th>
                </tr>

                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="4">No rows match search criteria</td>
                    </tr>
                }
                else
                {

                    int i = 0; 
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateTime_From) - @Html.DisplayFor(modelItem => item.DateTime_To)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Topic.Topic_Name)
                            </td>

                            @if (ViewBag.Selected_TrainingSession == item.Venue_Booking_Seq)
                            {
                                <td style="text-align:center;">
                                    <input checked="checked" type="radio" name="radio" id="TrainingSession @i" value="@item.Venue_Booking_Seq" />
                                </td>
                            }
                            else
                            {
                                <td style="text-align:center;">
                                    <input type="radio" name="radio" id="TrainingSession @i" value="@item.Venue_Booking_Seq" />
                                </td>
                            }

                         @{i++;}
                        </tr>

                       }
         }

            </table>


        </div>

        @if (ViewBag.Edit_or_New != "Edit")
            {
            <input type="submit" class="btn btn-default " value="Back" onclick="location.href='@Url.Action("Back_From_QQuestions","Questionnaire", new { ViewBag.Name, ViewBag.Description,ViewBag.Active_From,ViewBag.Active_To,ViewBag.Assessment_Type,ViewBag.Topic})'" />   <input type="button" class="btn btn-default pull-right" value="Continue" onclick="Submit()" />
        }
        else
        {
            <input type="button" class="btn btn-default pull-right" value="Continue" onclick="Submit()" />
        }


    </div>

</div>

<script>
    function Submit() {
        var count = document.getElementById("Count").value;
        var Selected = "";
        document.getElementById("Error").innerHTML = "";
        var Answered = "False";


        for (var i = 0; i < count; i++) {
            var Name = "TrainingSession " + i;
            if (document.getElementById(Name).checked) {
                Answered = "True";
                Selected = document.getElementById("TrainingSession " + i).value;
            }
        }
        if (Answered == "True") {
            var Questionnaire_ID = document.getElementById("Questionnaire_ID").value;
            var Name = document.getElementById("Name").value;
            var Description = document.getElementById("Description").value;
            var Active_From = document.getElementById("Active_From").value;
            var Active_To = document.getElementById("Active_To").value;
            var Assessment_Type = document.getElementById("Assessment_Type").value;
            var Topic = document.getElementById("Topic").value;
            var Edit_or_New = document.getElementById("Edit_or_New").value;

            if (Edit_or_New == "Edit") {
                window.location.href = "/Questionnaire/UpdateTrainingSession?Venue_Booking_Seq=" + Selected + "&Questionnaire_ID=" + Questionnaire_ID;
            }
            else {
                window.location.href = "/Questionnaire/SelectedTrainingSession?Venue_Booking_Seq=" + Selected + "&Questionnaire_ID=" + Questionnaire_ID + "&Name=" + Name + "&Description=" + Description + "&Active_From=" + Active_From + "&Active_To=" + Active_To + "&Assessment_Type=" + Assessment_Type + "&Topic=" + Topic;
            }



        }
        else {
            document.getElementById("Error").innerHTML = "Please select a Training Session to continue";
        }

    }

</script>

