@model IEnumerable<LibraryAssistantApp.Models.Building>
@{
    ViewBag.Title = "Venue_Assessment_Building";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Hidden("Name", (string)ViewBag.Name, new { id = "Name" })
@Html.Hidden("Description", (string)ViewBag.Description, new { id = "Description" })
@Html.Hidden("Active_From", (DateTime)ViewBag.Active_From, new { id = "Active_From" })
@Html.Hidden("Active_To", (DateTime)ViewBag.Active_To, new { id = "Active_To" })
@Html.Hidden("Assessment_Type", (string)ViewBag.Assessment_Type, new { id = "Assessment_Type" })
@Html.Hidden("Topic", (int)ViewBag.Topic, new { id = "Topic" })
@Html.Hidden("Questionnaire_ID", (int)ViewBag.Questionnaire_ID, new { id = "Questionnaire_ID" })
@Html.Hidden("Count", (int)ViewBag.Count, new { id = "Count" })
@Html.Hidden("Edit_or_New", (string)ViewBag.Edit_or_New, new { id = "Edit_or_New" })
@Html.Hidden("SelectedCampus", (int)ViewBag.SelectedCampus, new { id = "SelectedCampus" })

<h3>Building selection</h3>
<div>
    <label class="text-danger" id="Error"></label>
</div>

<div class="row" style="padding-top:0px; padding-left:25px">
    <p><strong>Instructions:</strong></p>
    <ul style="padding-bottom:5px; padding-top:5px">
        <li>
            <p>Select the building to be assessed.</p>
        </li>
        <li>
            <p>Click the 'Proceed' button.</p>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-6">
        <h5 class="bg-info shaded">
            List of Buildings for Campus: <strong>@ViewBag.SelectedCampusName</strong>
        </h5>
        <div class="panel panel-default">
            <table class="table table-bordered">
                <tr>
                    <th>
                        Building Name
                    </th>
                    <th style="text-align:center;">
                        Select
                    </th>
                </tr>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="2">No buildings in the selected campus.</td>
                    </tr>
                }
                else
                {
                    int i = 0;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Building_Name)
                            </td>
                            @if (ViewBag.SelectedBuilding == item.Building_ID)
                            {
                                <td style="text-align:center;">
                                    <input checked="checked" type="radio" name="radio" id="Building @i" value="@item.Building_ID" />
                                </td>
                            }
                            else
                            {
                                <td style="text-align:center;">
                                    <input type="radio" name="radio" id="Building @i" value="@item.Building_ID" />
                                </td>
                            }

                            @{i++;}
                        </tr>
                                    }
                                }
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <h5 class="bg-info shaded">
            Venue Details
        </h5>
        <div class="panel panel-default">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Campus
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @ViewBag.SelectedCampusName
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @*<div class="col-md-4">
        <div class="panel panel-default">
            <h4 data_toggle="tooltip" title="Your current selection of Campus" style="float: right; display: inline-block;">Campus: @ViewBag.SelectedCampusName</h4>
        </div>
    </div>*@
</div>
<div class="btn-group">
    <input type="submit" class="btn btn-primary" value="Back" onclick="location.href='@Url.Action("Back_From_Buildings","Questionnaire", new {ViewBag.SelectedCampus, ViewBag.Name, ViewBag.Description,ViewBag.Active_From,ViewBag.Active_To,ViewBag.Assessment_Type,ViewBag.Topic, ViewBag.Edit_or_New})'" />
</div>
<div class="btn-group">
    <input type="button" class="btn btn-primary" value="Proceed" onclick="Submit()" />
</div>

<script>
    function Submit() {
        var count = document.getElementById("Count").value;
        var Selected = "";
        document.getElementById("Error").innerHTML = "";
        var Answered = "False";


        for (var i = 0; i < count; i++) {
            var Name = "Building " + i;
            if (document.getElementById(Name).checked) {
                Answered = "True";
                Selected = document.getElementById("Building " + i).value;
            }
        }
        if (Answered == "True") {
            var Questionnaire_ID = document.getElementById("Questionnaire_ID").value;
            var Name = document.getElementById("Name").value;
            var Description = document.getElementById("Description").value;
            var Active_From = document.getElementById("Active_From").value;
            var Active_To = document.getElementById("Active_To").value;
            var Assessment_Type = document.getElementById("Assessment_Type").value;
            var Topic = document.getElementById("Topic").value;
            var Edit_or_New = document.getElementById("Edit_or_New").value;
            var SelectedCampus = document.getElementById("SelectedCampus").value;


            window.location.href = "/Questionnaire/SelectedBuilding?Building_ID=" + Selected + "&SelectedCampus=" + SelectedCampus + "&Questionnaire_ID=" + Questionnaire_ID + "&Name=" + Name + "&Description=" + Description + "&Active_From=" + Active_From + "&Active_To=" + Active_To + "&Assessment_Type=" + Assessment_Type + "&Topic=" + Topic+ "&Edit_or_New=" + Edit_or_New;

        }
        else {
            document.getElementById("Error").innerHTML = "Please select a building to continue";
        }

    }

</script>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>