@model LibraryAssistantApp.Models.Building

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Building</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Building_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campu.Campus_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campu.Campus_Name)
        </dd>

    </dl>
</div>
<p>
    <input type="submit" value="Create Building Floor" class="btn btn-default" onclick="location.href='@Url.Action("Create","Building_Floor", new { Model.Campus_ID, Model.Building_ID})'" /> | <input type="submit" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("Index")'" />   
</p>
