@model LibraryAssistantApp.Models.DiscussionRoomBooking

@{
    ViewBag.Title = "BookDiscussionRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Discussion Room Booking</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "bookingForm", formnovalidate = "formnovalidate" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Please enter the requested details below:</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", @id = "datepicker", @placeholder = "Select Date" } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.inTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.inTime, new { htmlAttributes = new { @class = "form-control timepicker", @id = "timepicker" } })
                @Html.ValidationMessageFor(model => model.inTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.length, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="length" class="form-control">
                    <option>30</option>
                    <option>60</option>
                    <option>90</option>
                </select>
                @Html.ValidationMessageFor(model => model.length, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.campus_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Campus_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.campus_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
