@model LibraryAssistantApp.Models.DiscussionRoomBooking

@{
        ViewBag.Title = "Book Discussion Room";
    var durations = (List<string>)ViewBag.Durations;
    var open = (string)ViewBag.Open;
    var close = (string)ViewBag.Close;
}
<a href="/help/booking.pdf" title="Page Help"><div class="btn-help"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span></div></a>
<h2>Discussion Room Booking</h2>
<hr/>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "bookingForm", formnovalidate = "formnovalidate" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 class="bg-info shaded">
            Enter the details of your booking
        </h4>
        <div class="row" style="padding-top:10px; padding-bottom:10px">
            <div class="col-md-6 col-md-offset-1">
                <p><strong>To book a discussion room</strong></p>
                <ul class="text-muted">
                    <li>
                        Provide booking details bellow
                    </li>
                    <li>
                        We will select all available venues based on your selections
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" title="Preferred discussion room session date" data-placement="right">
                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", @id = "datepicker", @placeholder = " --select date-- ", @readonly = true } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.inTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" title="Preferred discussion room session time" data-placement="right">
                @Html.EditorFor(model => model.inTime, new { htmlAttributes = new { @class = "form-control", @id = "dtime", @readonly = true, @placeholder = " --select time-- " } })
                @Html.ValidationMessageFor(model => model.inTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.length, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" title="Preferred discussion room session duration" data-placement="right">
                <select name="length" class="form-control" required>
                    <option disabled selected value=""> --select duration-- </option>
                    @foreach(var d in durations)
                    {
                        <option id="@d">@d</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.length, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.campus_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Campus_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.campus_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="padding-top:25px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="See Available Venues" class="btn btn-primary" title="Proceed to select booking venue"/>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        //initialise timepicker
        $('#dtime').timepicker({
            timeFormat: 'HH:mm',
            interval: 30,
            minTime: '@open',
            maxTime: '@close',
            dynamic: true,
            dropdown: true,
            scrollbar: true
        });
    })
</script>
