@using LibraryAssistantApp.Models
@model LibraryAssistantApp.Models.BookingDetailsModel

@{
    ViewBag.Title = "Cancel Booking";
    Layout = (string)Session["layout"];
}

<h2>Cancel Booking</h2>

<h3>Are you sure you want to cancel this booking?</h3>
<div>
    <hr />
    @{ 
        var bookingDetails = (BookingDetailsModel)Session["selectedBookingDetails"];
    }
    <table>
    <tbody>
        <tr>
            <td style="padding-right:5em"><strong>Type:</strong></td>
            <td>@bookingDetails.type</td>
        </tr>
        <tr>
            <td><strong>Date:</strong></td>
            <td>@bookingDetails.date</td>
        </tr>
        <tr>
            <td><strong>Timeslot:</strong></td>
            <td>@bookingDetails.timeslot</td>
        </tr>
        <tr>
            <td><strong>Campus:</strong></td>
            <td>@bookingDetails.campus</td>
        </tr>
        <tr>
            <td><strong>Building:</strong></td>
            <td>@bookingDetails.building</td>
        </tr>
        <tr>
            <td><strong>Venue:</strong></td>
            <td>@bookingDetails.venue</td>
        </tr>
    </tbody>
</table>
    <hr />

        <div class="form-actions no-color">
            @Html.ActionLink("Back", "ViewBookings", "Booking", htmlAttributes: new { @class = "btn btn-default" })
            <input type="submit" value="Cancel Booking" class="btn btn-default" id="btnCancelBooking" />
        </div>
</div>

@section script{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnCancelBooking').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/Booking/captureCancel',
                    success: function (result) {
                        window.location.href = result;
                    },
                    error: function (err, result) {
                        alert("Error in assigning dataToSave" + err.responseText);
                    }
                });
            });
        })
    </script>
    }
