@model LibraryAssistantApp.Models.EmpDiscussionRoomBooking

@{
    ViewBag.Title = "Book Discussion Room";
    var durations = (List<string>)ViewBag.Durations;
    var open = (string)ViewBag.Open;
    var close = (string)ViewBag.Close;
}

<h2>Discussion Room Booking</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="bg-info shaded">Please enter the requested details below:</h4>
        <hr />
        <p class="text-muted" style="padding-bottom:10px"><b>Note:</b> Please provide the initial booking details below and proceed to select a venue.</p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.person_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" title="Username of person who wants a booking.">
                @Html.EditorFor(model => model.person_id, new { htmlAttributes = new { @class = "form-control", @placeholder = " --enter username-- " } })
                @Html.ValidationMessageFor(model => model.person_id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" title="Preferred booking date.">
                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", @id = "datepicker", @placeholder = " --select date-- " } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.inTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" title="Preferred booking time.">
                @Html.EditorFor(model => model.inTime, new { htmlAttributes = new { @class = "form-control", @id = "edTime", @placeholder = " --select time-- ", @readonly = true } })
                @Html.ValidationMessageFor(model => model.inTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.length, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" title="Preferred booking duration.">
                <select name="length" class="form-control" required>
                    <option disabled selected value=""> --select duration-- </option>
                    @foreach (var d in durations)
                    {
                        <option id="@d">@d</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.length, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.campus_ID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" title="Preferred booking campus.">
                @Html.DropDownList("Campus_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.campus_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#datepicker").attr('readonly', true)

        //initiate timepicker
        $('#edTime').timepicker({
            timeFormat: 'HH:mm',
            interval: 30,
            minTime: '@open',
            maxTime: '@close',
            dynamic: true,
            dropdown: true,
            scrollbar: true,
            readonly: true
        });
    })
</script>
