@using LibraryAssistantApp.Models

@{ 
    var bookings = (IEnumerable<BookTrainingSessionModel>)TempData["trainingSessions"];
}

<div id="bkTrainingBookings">
    <div class="panel panel-default">
        <div class="panel-body">

            @{
                if (bookings.Any())
                {
                    <table class="table" id="sessionTable">
                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Timeslot
                                </th>
                                <th>
                                    Campus
                                </th>
                                <th>
                                    Building
                                </th>
                                <th>
                                    Venue
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var booking in bookings)
                            {
                                <tr id="@booking.id" onclick="getSelectedTraining(this)" data-assigned-id="@booking.id">
                                    <td>@booking.date</td>
                                    <td>@booking.timeslot</td>
                                    <td>@booking.campus</td>
                                    <td>@booking.building</td>
                                    <td>@booking.venue</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No Training Sessions Available</p>
                }
            }          
        </div>
    </div>
    <input class="btn btn-default" id="btnBkTraining" type="button" value="Book Training Session"/>
</div>
