@using LibraryAssistantApp.Models

@{ 
    var bookings = (IEnumerable<BookTrainingSessionModel>)TempData["trainingSessions"];
}

<div id="bkTrainingBookings">
    <div class="panel panel-default">
        <div class="panel-body">

            @{
                if (bookings.Any())
                {
                    <table class="table" id="sessionTable">
                        <thead>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Timeslot
                                </th>
                                <th>
                                    Campus
                                </th>
                                <th>
                                    Building
                                </th>
                                <th>
                                    Venue
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var booking in bookings)
                            {
                                <tr id="@booking.id" onclick="getSelectedTraining(this)" data-assigned-id="@booking.id">
                                    <td>@booking.date</td>
                                    <td>@booking.timeslot</td>
                                    <td>@booking.campus</td>
                                    <td>@booking.building</td>
                                    <td>@booking.venue</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No Training Sessions Available</p>
                }
            }          
        </div>
    </div>
    <input class="btn btn-primary" id="btnBkTraining" type="button" value="Book Training Session"/>
</div>

<script type="text/javascript">
    //select available trainer
    $("#sessionTable tbody tr").click(function () {

        var selected = $(this).hasClass("alert-info");
        $("#sessionTable tbody tr").removeClass("alert-info");

        if (!selected) {
            $(this).addClass("alert-info");
        }
        var buttonEnabled = $(this).hasClass("alert-info");
        if (buttonEnabled) {
            $("#btnBkTraining").prop('disabled', false)
        } else {
            $("#btnBkTraining").prop('disabled', true)
        }
    });

    $("#btnBkTraining").click(function () {
        getTrainingBookingDetails();
    })

    function getSelectedTraining(elem) {
        var id = $(elem).data('assigned-id');
        $.ajax({
            type: 'GET',
            url: '/Booking/sessionSelect',
            data: "id=" + id,
            success: function (result) { },
            error: function (err, result) {
                alert("Error in assigning dataToSave" + err.responseText);
            }
        });
    }
</script>
