@using LibraryAssistantApp.Models
@model List<Venue>

@{
    ViewBag.Title = "Book Discussion Room";
}

@{ 
    var details = (DiscussionRoomBooking)Session["details"];
    <h4>Discussion Room Booking > @details.date.ToShortDateString() > @details.time.TimeOfDay > @details.length Minutes Duration > @details.campus_ID</h4>
}

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Please select a venue below:
            </div>
            <div class="panel-body">
                @{
                    var check = (List<Building>)Session["buildings"];
                    var boolCheck = check.Any();
                    if (boolCheck)
                    {
                        <ul class="nav nav-tabs" id="buildingTabs">
                            @foreach (var building in (List<Building>)Session["buildings"])
                            {
                                <li><a data-toggle="tab" href="#@building.Building_ID">@building.Building_Name</a></li>
                            }
                        </ul>

                        <div class="tab-content" id="tabContent" style="padding-top:10px">
                            @foreach (var building in (List<Building>)Session["buildings"])
                            {
                                <div id="@building.Building_ID" class="tab-pane fade">
                                    <table class="table venueTable" id="venueTable">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Venue
                                                </th>
                                                <th>
                                                    Level
                                                </th>
                                                <th>
                                                    Capacity
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                if (item.Building_ID.Equals(building.Building_ID))
                                                {
                                                    <tr onclick="AssignButtonClicked(this)" data-assigned-id="@item.Venue_ID">
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Venue_Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Building_Floor.Floor_Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Capacity)
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>                                        
                                    </table>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <p>No Venues Available</p>
                    }

                }
            </div>
            <div class="panel-footer">
                @Html.ActionLink("Back", "BookDiscussionRoom", "Booking", htmlAttributes: new { @class = "btn btn-default" })
                <input type="submit" id="bookDiscussion" data-toggle="modal" data-target="#confirmDetails" value="Submit" class="btn btn-default" disabled="disabled" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                Additional Details:
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Venue Characteristics:
                    </div>
                    <div class="panel-body">
                        @foreach (var characteristic in (List<Characteristic>)Session["characteristicList"])
                        {
                            <input type="checkbox" class="Characteristic_ID" value="@characteristic.Characteristic_ID"> @characteristic.Characteristic_Name <br>
                        }
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Capacity
                    </div>
                    <div>
                        <div class="panel-body">
                            <div>
                                <input type="range" name="ageInputName" id="capacityInput" value="0" step="5" min="0" max="100" oninput="ageOutputId.value = capacityInput.value">
                                <output name="ageOutputName" id="ageOutputId">0</output>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" id="apply" value="Apply" class="btn btn-default" onclick="getFilters()"/>
            </div>
        </div>
    </div>
</div>

<div id="confirmDetailsForm"></div>

@section script{
    <script type="text/javascript">
        $(document).ready(function () {
            //get value of venue when click a row
            $("#venueTable tr").click(function () {
                var selected = $(this).hasClass("alert-info");
                $("#venueTable tr").removeClass("alert-info");
                
                if (!selected) {
                    $(this).addClass("alert-info");
                }
                var buttonEnabled = $(this).hasClass("alert-info");
                if (buttonEnabled) {
                    $("#bookDiscussion").prop('disabled', false)
                } else {
                    $("#bookDiscussion").prop('disabled', true)
                }
            });

            //set tab to active
            $(function () {
                $('#tabContent div:first-child').addClass('in active');
                $('#buildingTabs li:first-child').addClass('active');
            });

            $('.venueTable').each(function (i, obj) {
                $(this).DataTable();
            });

            //submit venue selection
            $('#bookDiscussion').on('click', function () {
                //show confirmation modal
                bootbox.confirm({
                    title: "Confirm Details?",
                    message: function () {
                        $(this).load('/Booking/confirmDetails');
                        },
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result)
                            confirmBooking();                       
                    }
                });
            });
        });

        //filter available venues
        function getFilters() {

            var characteristicsList = [];
            var capacity = $("#capacityInput").val();

            $('input:checkbox.Characteristic_ID').each(function () {
                var sThisVal = (this.checked ? $(this).val() : "");
                if (sThisVal > 0) {
                    characteristicsList.push(sThisVal);
                };
            });

            if ((characteristicsList.length > 0) || (capacity > 0))
            {

                jQuery.ajaxSettings.traditional = true;
                $.ajax({
                    type: 'GET',
                    url: '/Booking/filterVenues',
                    data: { characteristics: characteristicsList, capacity: capacity },
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        location = location;
                    },
                    error: function (err, result) {                       
                        location = location;
                    }
                });
            }
        };

        //get selected venue
        function AssignButtonClicked(elem) {
            var id = $(elem).data('assigned-id');
            $.ajax({
                type: 'POST',
                url: '/Booking/venueSelect',
                data: "id=" + id,
                success: function (result) { },
                error: function (err, result) {
                    alert("Error in assigning dataToSave" + err.responseText);
                }
            });
        }

        //confirm booking details
        function confirmBooking() {
            $.ajax({
                type: 'POST',
                url: '/Booking/captureDetails',
                success: function (result) {
                    window.location.href = result;
                },
                error: function (err, result) {
                    alert("Error in assigning dataToSave" + err.responseText);
                }
            });
        }
    </script>
    }

