@model LibraryAssistantApp.Models.Questionnaire

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Duplicate == "Yes")
{
    <div style="text-align:center" class="isa_warning">This questionnaire already exists. Please choose another questionnaire name.</div>
}

<h3>Create Questionnaire</h3>
<div class="row" style="padding-top:15px; padding-left:25px">
    <p>Instructions:</p>
    <ul style="padding-bottom:15px; padding-top:15px">
        <li>
            <p>Provide the appropriate questionnaire details below.</p>
        </li>
        <li>
            <p>Click the 'Assign Questions' button to add questions asked by this questionnaire.</p>
        </li>
    </ul>
</div>
    <h5 class="bg-info shaded">
        New Questionnaire Details
    </h5>
<div class="row" style="padding-top:15px">
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Topic_Seq, "Topic", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<div class="input-group">
                <span class="input-group-btn">
                    <input type="button" value="Add Topic" class="btn btn-primary" onclick="location.href='@Url.Action("Create","Question_Topic")'" />
                </span>*@
                @Html.DropDownList("Topic", null, "Select a topic", htmlAttributes: new { @class = "form-control", id = "Topic" })
                <label class="text-danger" id="Topic_validation"></label>
                @*</div>*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "Name", @value = ViewBag.Name } })
                <label class="text-danger" id="Name_Validation"></label><font color="red">@ViewBag.DuplicateError</font>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id = "Description", @value = ViewBag.Description } })
                <label class="text-danger" id="Description_Validation"></label>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Active Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Active_From, new { htmlAttributes = new { @class = "datepick form-control", id = "Active_From", @readonly = "true", @value = ViewBag.Active_From, @data_toggle = "tooltip", @title = "Select a date upon which this new questionnaire will be active from." } })
                <label class="text-danger" id="Active_From_Validation"></label>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Expiry Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Active_To, new { htmlAttributes = new { @class = "datepick form-control", id = "Active_To", @readonly = "true", @value = ViewBag.Active_To, @data_toggle = "tooltip", @title = "Select a date upon which this questionnaire will expire on" } })
                <label class="text-danger" id="Active_To_Validation"></label>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Assessment_Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Assessment_Type", new List<SelectListItem>
                     {
                        new SelectListItem{ Text="Other", Value = "Other" },
                        new SelectListItem{ Text="Venue", Value = "Venue" },
                        new SelectListItem{ Text="Employee", Value = "Employee" },
                        new SelectListItem{ Text="Training Session", Value = "Training Session" }
                     }, "Select an assessment type", htmlAttributes: new { onchange = "CheckType()", @class = "form-control", id = "Assessment_Type", @value = (string)ViewBag.Assessment_Type })
                <label class="text-danger" id="Assessment_Type_Validation"></label>
            </div>
        </div>
    </div>

    <hr />
    <div class="col-md-10 col-md-offset-2">
        <div class="form-group">
            <input type="submit" value="Assign Questions" class="btn btn-primary" onclick="validateInput();"/>
        </div>
        <div class="isa_info" id="Warning"></div>
    </div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script type="text/javascript">
        $('.datepick').each(function () {
            $(this).datepicker({ minDate: 0 });
        });
</script>

<script>
    function validateInput() {

        document.getElementById("Name_Validation").innerHTML = "";
        document.getElementById("Description_Validation").innerHTML = "";
        document.getElementById("Active_From_Validation").innerHTML = "";
        document.getElementById("Active_To_Validation").innerHTML = "";
        document.getElementById("Assessment_Type_Validation").innerHTML = "";
        document.getElementById("Topic_validation").innerHTML = "";
        var Active_FromDate = new Date(document.getElementById("Active_From").value);
        var Active_ToDate = new Date(document.getElementById("Active_To").value);

        var Name = document.getElementById("Name").value;
        var Description = document.getElementById("Description").value;
        var Active_From = document.getElementById("Active_From").value;
        var Active_To = document.getElementById("Active_To").value;
        var Assessment_Type = document.getElementById("Assessment_Type").value;
        var Topic = document.getElementById("Topic").value;

        if (Name == "" && Description == "" && Active_From == "" && Active_To == "" && Assessment_Type == "" & Topic== "") {
            document.getElementById("Name_Validation").innerHTML = "Name is required";
            document.getElementById("Description_Validation").innerHTML = "Description is required";
            document.getElementById("Active_From_Validation").innerHTML = "Active from is required";
            document.getElementById("Active_To_Validation").innerHTML = "Active to is required";
            document.getElementById("Assessment_Type_Validation").innerHTML = "Assessment type is required ";
            document.getElementById("Topic_validation").innerHTML = "Topic is required";
        }
        else if (Name == "" && Description == "" && Active_From == "" && Active_To == "" && Assessment_Type == "") {
            document.getElementById("Name_Validation").innerHTML = "Name is required";
            document.getElementById("Description_Validation").innerHTML = "Description is required";
            document.getElementById("Active_From_Validation").innerHTML = "Active from is required";
            document.getElementById("Active_To_Validation").innerHTML = "Active to is required";
            document.getElementById("Assessment_Type_Validation").innerHTML = "Assessment type is required ";
        }
        else if (Name == "" && Description == "" && Active_From == "" && Active_To == "" & Topic== "") {
            document.getElementById("Name_Validation").innerHTML = "Name is required";
            document.getElementById("Description_Validation").innerHTML = "Description is required";
            document.getElementById("Active_From_Validation").innerHTML = "Active from is required";
            document.getElementById("Active_To_Validation").innerHTML = "Active to is required";
            document.getElementById("Topic_validation").innerHTML = "Topic is required";
        }
        else if (Name == "" && Description == "" && Active_From == "" && Assessment_Type == "" & Topic== "") {
            document.getElementById("Name_Validation").innerHTML = "Name is required";
            document.getElementById("Description_Validation").innerHTML = "Description is required";
            document.getElementById("Active_From_Validation").innerHTML = "Active from is required";
            document.getElementById("Assessment_Type_Validation").innerHTML = "Assessment type is required ";
            document.getElementById("Topic_validation").innerHTML = "Topic is required";
        }
        else if (Name == "" && Description == "" && Active_To == "" && Assessment_Type == "" & Topic== "") {
            document.getElementById("Name_Validation").innerHTML = "Name is required";
            document.getElementById("Description_Validation").innerHTML = "Description is required";
            document.getElementById("Active_To_Validation").innerHTML = "Active to is required";
            document.getElementById("Assessment_Type_Validation").innerHTML = "Assessment type is required ";
            document.getElementById("Topic_validation").innerHTML = "Topic is required";
        }
        else if (Name == "" && Active_From == "" && Active_To == "" && Assessment_Type == "" & Topic== "") {
            document.getElementById("Name_Validation").innerHTML = "Name is required";
            document.getElementById("Active_From_Validation").innerHTML = "Active from is required";
            document.getElementById("Active_To_Validation").innerHTML = "Active to is required";
            document.getElementById("Assessment_Type_Validation").innerHTML = "Assessment type is required ";
            document.getElementById("Topic_validation").innerHTML = "Topic is required";
        }
        else if (Description == "" && Active_From == "" && Active_To == "" && Assessment_Type == "" & Topic== "") {
            document.getElementById("Description_Validation").innerHTML = "Description is required";
            document.getElementById("Active_From_Validation").innerHTML = "Active from is required";
            document.getElementById("Active_To_Validation").innerHTML = "Active to is required";
            document.getElementById("Assessment_Type_Validation").innerHTML = "Assessment type is required ";
            document.getElementById("Topic_validation").innerHTML = "Topic is required";
        }
        else if (Name == "")
        {
            document.getElementById("Name_Validation").innerHTML = "Name is required";
        }
        else if (Description == "")
        {
            document.getElementById("Description_Validation").innerHTML = "Description is required";
        }
        else if (Active_From == "")
        {
            document.getElementById("Active_From_Validation").innerHTML = "Active from is required";
        }
        else if (Active_To == "")
        {
            document.getElementById("Active_To_Validation").innerHTML = "Active to is required";
        }
        else if (Assessment_Type == "")
        {
            document.getElementById("Assessment_Type_Validation").innerHTML = "Assessment type is required ";
        }
        else if (Topic == "")
        {
            document.getElementById("Topic_validation").innerHTML = "Topic is required";
        }
        else {
            if (Active_FromDate > Active_ToDate) {
                document.getElementById("Active_From_Validation").innerHTML = "Active from date cannot be greater than Active To date";

            }
            else {
                RunURL();
            }

        }
    }
</script>

<script>
    function RunURL() {
        var Name = document.getElementById("Name").value;
        var Description = document.getElementById("Description").value;
        var Active_From = document.getElementById("Active_From").value;
        var Active_To = document.getElementById("Active_To").value;
        var Assessment_Type = document.getElementById("Assessment_Type").value;
        var Topic = document.getElementById("Topic").value;

        window.location.href = "/Questionnaire/Creating?Name=" + Name + "&Description=" + Description + "&Active_From=" + Active_From + "&Active_To=" + Active_To + "&Assessment_Type=" + Assessment_Type + "&Topic=" + Topic;
    }
</script>


<script>
    function CheckType()
  {
        var Assessment_Type = document.getElementById("Assessment_Type").value;
        document.getElementById("Warning").innerHTML = ""
        document.getElementById("Warning").style.backgroundColor = "white";

        if (Assessment_Type == "Training Session") {
            document.getElementById("Warning").innerHTML = "Assessment Type Notification: If the selected training session start date is greater than the Questionnaire active from date, then the Questionnaire active from date will be updated accordingly."
            document.getElementById("Warning").style.backgroundColor = "#BDE5F8";
        }
  }
</script>

<style>
    .isa_info, .isa_success, .isa_warning, .isa_error {
        margin: 10px 0px;
        padding: 12px;
        text-align: center;
    }

    .isa_info {
        color: #00529B;
        text-align: center;
    }

    .isa_success {
        color: #4F8A10;
        background-color: #DFF2BF;
    }

    .isa_warning {
        color: #9F6000;
        background-color: #FEEFB3;
        text-align: center;
    }

    .isa_error {
        color: #D8000C;
        background-color: #FFBABA;
        text-align: center;
    }

        .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
            margin: 10px 22px;
            font-size: 2em;
            vertical-align: middle;
        }
</style>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
