@model LibraryAssistantApp.Models.Questionnaire

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading"><h3>Are you sure you want to delete this questionnaire?</h3></div>
    <div class="panel-body">

        <div>            
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Assessment_Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Assessment_Type)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Create_Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Create_Date)
                </dd>


                <dt>
                    <label>Status</label> 
                </dt>

                <dd>
                    @Html.Label("", (string)@ViewBag.Status, new { htmlAttributes = new { } })
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Question_Topic.Topic_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Question_Topic.Topic_Name)
                </dd>

                <dt>
                   <label>Person created</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Registered_Person.Person_Name)
                </dd>                

            </dl>
          

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" onclick="location.href='@Url.Action("DeleteConfirmed","Questionnaire", new { ViewBag.id})'"/> | <input type="submit" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("Index","Questionnaire")'" />                    
                </div>            
        </div>
    </div>
</div>