@model LibraryAssistantApp.Models.Questionnaire

@{
    @*ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<h3>Update Questionnaire</h3>

@Html.Hidden("Questionnaire_ID", (int)ViewBag.Questionnaire_ID, new { id = "Questionnaire_ID" })
@Html.Hidden("CannotEdit", (string)ViewBag.CannotEdit, new { id = "CannotEdit" })

<div class="row" style="padding-top:15px; padding-left:25px">
    <p><strong>Instructions:</strong></p>
    <ul style="padding-bottom:5px; padding-top:5px">
        <li>
            <p>Update questionnaire details.</p>
        </li>
        <li>
            <p>Click 'Proceed' to update questions related to this questionnaire.</p>
        </li>
        <li>
            <p style="color:darkred">Note: Changes made to either topic or assesment type require changes on the next screen.</p>
        </li>
    </ul>
</div>
<h4 class="bg-info shaded">
    Update Questionnaire Details
</h4>
<div class="form-horizontal" style="padding-top:10px">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "Name", @value = ViewBag.Name, @title= "Update questionnaire name." } })
            <label class="text-danger" id="Name_Validation"></label><font color="red">@ViewBag.DuplicateError</font>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id = "Description", @value = ViewBag.Description, @title = "Update questionnaire description." } })
            <label class="text-danger" id="Description_Validation"></label>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Active Date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Active_From, new { htmlAttributes = new { @class = "datepick form-control", id = "Active_From", @readonly = "true", @value = ViewBag.Active_From, @title = "Select a date upon which this new questionnaire will be active from." } })
            <label class="text-danger" id="Active_From_Validation"></label>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Expiry Date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Active_To, new { htmlAttributes = new { @class = "datepick form-control", id = "Active_To", @readonly = "true", @value = ViewBag.Active_To, @title = "Select a date upon which this new questionnaire will expire on." } })
            <label class="text-danger" id="Active_To_Validation"></label>
        </div>
    </div>

    <script>
        $('.datepick').each(function () {
            $(this).datepicker({ minDate: 0 });
        });
    </script>

    <div class="form-group">
        @Html.LabelFor(model => model.Assessment_Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @if (ViewBag.CannotEdit == "true")
            {

                @Html.DropDownList("Assessment_Type", new List<SelectListItem>
                        {
                           new SelectListItem{ Text="Other", Value = "Other" },
                           new SelectListItem{ Text="Venue", Value = "Venue" },
                           new SelectListItem{ Text="Employee", Value = "Employee" },
                           new SelectListItem{ Text="Training Session", Value = "Training Session" }
                        }, "All", htmlAttributes: new { @class = "form-control", @disabled = "disabled", id = "Assessment_Type", @value = (string)ViewBag.Assessment_Type,  @title = "Update the assessment type of the questionnaire." })

            }
            else
            {

                @Html.DropDownList("Assessment_Type", new List<SelectListItem>
                        {
                           new SelectListItem{ Text="Other", Value = "Other" },
                           new SelectListItem{ Text="Venue", Value = "Venue" },
                           new SelectListItem{ Text="Employee", Value = "Employee" },
                           new SelectListItem{ Text="Training Session", Value = "Training Session" }
                        }, "All", htmlAttributes: new { @class = "form-control", id = "Assessment_Type", @value = (string)ViewBag.Assessment_Type, @title = "Update the assessment type of the questionnaire." })

            }


            <label class="text-danger" id="Assessment_Type_Validation"></label>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Topic_Seq, "Topic", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @if (ViewBag.CannotEdit == "true")
            {
                @Html.DropDownList("Topic", null, "All", htmlAttributes: new { @class = "form-control", id = "Topic", @disabled = "disabled" })
            }
            else
            {
                @Html.DropDownList("Topic", null, "All", htmlAttributes: new { @class = "form-control", id = "Topic" , @title = "Update the topic of the questionnaire." })
            }

            <label class="text-danger" id="Topic_validation"></label>
        </div>
    </div>

    <div class="col-md-offset-2">
        @if (ViewBag.CannotEdit == "true")
            {
            <div class="btn-group">
                <input type="submit" value="Update" class="btn btn-primary" onclick="validateInput();" />
            </div>
            <div class="isa_warning" id="Warning">@ViewBag.CannotEditError</div>
        }
        else
        {
            <div class="btn-group">
                <input title="Finish updating the questionnaire and proceed to updating the questions of the questionnaire." type="submit" value="Proceed" class="btn btn-primary" onclick="validateInput();" />
            </div>
            <div class="isa_info" id="Warning"></div>
        }
    </div>

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



<script>
    function validateInput() {

        document.getElementById("Name_Validation").innerHTML = "";
        document.getElementById("Description_Validation").innerHTML = "";
        document.getElementById("Active_From_Validation").innerHTML = "";
        document.getElementById("Active_To_Validation").innerHTML = "";
        document.getElementById("Assessment_Type_Validation").innerHTML = "";
        document.getElementById("Topic_validation").innerHTML = "";
        var Active_FromDate = new Date(document.getElementById("Active_From").value);
        var Active_ToDate = new Date(document.getElementById("Active_To").value);


        var Name = document.getElementById("Name").value;
        var Description = document.getElementById("Description").value;
        var Active_From = document.getElementById("Active_From").value;
        var Active_To = document.getElementById("Active_To").value;
        var Assessment_Type = document.getElementById("Assessment_Type").value;
        var Topic = document.getElementById("Topic").value;

        if (Name == "" && Description == "" && Active_From == "" && Active_To == "" && Assessment_Type == "" & Topic == "") {
            document.getElementById("Name_Validation").innerHTML = "Name is required";
            document.getElementById("Description_Validation").innerHTML = "Description is required";
            document.getElementById("Active_From_Validation").innerHTML = "Active from is required";
            document.getElementById("Active_To_Validation").innerHTML = "Active to is required";
            document.getElementById("Assessment_Type_Validation").innerHTML = "Assessment type is required ";
            document.getElementById("Topic_validation").innerHTML = "Topic is required";
        }
        else if (Name == "" && Description == "" && Active_From == "" && Active_To == "" && Assessment_Type == "") {
            document.getElementById("Name_Validation").innerHTML = "Name is required";
            document.getElementById("Description_Validation").innerHTML = "Description is required";
            document.getElementById("Active_From_Validation").innerHTML = "Active from is required";
            document.getElementById("Active_To_Validation").innerHTML = "Active to is required";
            document.getElementById("Assessment_Type_Validation").innerHTML = "Assessment type is required ";
        }
        else if (Name == "" && Description == "" && Active_From == "" && Active_To == "" & Topic == "") {
            document.getElementById("Name_Validation").innerHTML = "Name is required";
            document.getElementById("Description_Validation").innerHTML = "Description is required";
            document.getElementById("Active_From_Validation").innerHTML = "Active from is required";
            document.getElementById("Active_To_Validation").innerHTML = "Active to is required";
            document.getElementById("Topic_validation").innerHTML = "Topic is required";
        }
        else if (Name == "" && Description == "" && Active_From == "" && Assessment_Type == "" & Topic == "") {
            document.getElementById("Name_Validation").innerHTML = "Name is required";
            document.getElementById("Description_Validation").innerHTML = "Description is required";
            document.getElementById("Active_From_Validation").innerHTML = "Active from is required";
            document.getElementById("Assessment_Type_Validation").innerHTML = "Assessment type is required ";
            document.getElementById("Topic_validation").innerHTML = "Topic is required";
        }
        else if (Name == "" && Description == "" && Active_To == "" && Assessment_Type == "" & Topic == "") {
            document.getElementById("Name_Validation").innerHTML = "Name is required";
            document.getElementById("Description_Validation").innerHTML = "Description is required";
            document.getElementById("Active_To_Validation").innerHTML = "Active to is required";
            document.getElementById("Assessment_Type_Validation").innerHTML = "Assessment type is required ";
            document.getElementById("Topic_validation").innerHTML = "Topic is required";
        }
        else if (Name == "" && Active_From == "" && Active_To == "" && Assessment_Type == "" & Topic == "") {
            document.getElementById("Name_Validation").innerHTML = "Name is required";
            document.getElementById("Active_From_Validation").innerHTML = "Active from is required";
            document.getElementById("Active_To_Validation").innerHTML = "Active to is required";
            document.getElementById("Assessment_Type_Validation").innerHTML = "Assessment type is required ";
            document.getElementById("Topic_validation").innerHTML = "Topic is required";
        }
        else if (Description == "" && Active_From == "" && Active_To == "" && Assessment_Type == "" & Topic == "") {
            document.getElementById("Description_Validation").innerHTML = "Description is required";
            document.getElementById("Active_From_Validation").innerHTML = "Active from is required";
            document.getElementById("Active_To_Validation").innerHTML = "Active to is required";
            document.getElementById("Assessment_Type_Validation").innerHTML = "Assessment type is required ";
            document.getElementById("Topic_validation").innerHTML = "Topic is required";
        }
        else if (Name == "") {
            document.getElementById("Name_Validation").innerHTML = "Name is required";
        }
        else if (Description == "") {
            document.getElementById("Description_Validation").innerHTML = "Description is required";
        }
        else if (Active_From == "") {
            document.getElementById("Active_From_Validation").innerHTML = "Active from is required";
        }
        else if (Active_To == "") {
            document.getElementById("Active_To_Validation").innerHTML = "Active to is required";
        }
        else if (Assessment_Type == "") {
            document.getElementById("Assessment_Type_Validation").innerHTML = "Assessment type is required ";
        }
        else if (Topic == "") {
            document.getElementById("Topic_validation").innerHTML = "Topic is required";
        }
        else {
            if (Active_FromDate > Active_ToDate) {
                document.getElementById("Active_From_Validation").innerHTML = "Active from date cannot be greater than Active To date";

            }
            else {
                RunURL();
            }
        }
    }
</script>

<script>
    function RunURL() {
        var Name = document.getElementById("Name").value;
        var Description = document.getElementById("Description").value;
        var Active_From = document.getElementById("Active_From").value;
        var Active_To = document.getElementById("Active_To").value;
        var Assessment_Type = document.getElementById("Assessment_Type").value;
        var Topic = document.getElementById("Topic").value;
        var Questionnaire_ID = document.getElementById("Questionnaire_ID").value;
        var CannotEdit = document.getElementById("CannotEdit").value;

        if (CannotEdit == "true") {
            window.location.href = "/Questionnaire/LimitedEdit?Name=" + Name + "&Description=" + Description + "&Active_From=" + Active_From + "&Active_To=" + Active_To + "&Assessment_Type=" + Assessment_Type + "&Topic_Seq=" + Topic + "&Questionnaire_ID=" + Questionnaire_ID;
        }
        else {
            window.location.href = "/Questionnaire/Editing?Name=" + Name + "&Description=" + Description + "&Active_From=" + Active_From + "&Active_To=" + Active_To + "&Assessment_Type=" + Assessment_Type + "&Topic_Seq=" + Topic + "&Questionnaire_ID=" + Questionnaire_ID;
        }
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#Topic").one("click", function () {
            var n = noty({
                layout: 'topRight',
                text: 'Changes to topic: <br />New questions will need to be assigned to this questionnaire!',
                type: 'warning',
                animation: {
                    open: 'animated bounceInRight',
                    close: 'animated bounceOutLeft',
                    easing: 'swing',
                    speed: 500
                },
                timeout: false,
            });
            //document.getElementById("Warning").innerHTML = "Topic Notification: If the topic is changed then all previously assigned questions will be deleted and new questions must be assigned to the questionnaire."
            //document.getElementById("Warning").style.backgroundColor = "#BDE5F8";
        });
        //$("#Topic").mouseout(function () {
        //    document.getElementById("Warning").innerHTML = ""
        //    document.getElementById("Warning").style.backgroundColor = "white";
        //});
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#Assessment_Type").one("click", function () {
            var n = noty({
                layout: 'topRight',
                text: 'Changes to assessment type: <br />Requires new type information on next screen.',
                type: 'warning',
                animation: {
                    open: 'animated bounceInRight',
                    close: 'animated bounceOutLeft',
                    easing: 'swing',
                    speed: 500
                },
                timeout: false,
            });
            //document.getElementById("Warning").innerHTML = "Assessment Type Notification: If the assessment type is changed then all previously assigned assessment type information will be deleted and new information must be obtaind."
            //document.getElementById("Warning").style.backgroundColor = "#BDE5F8";
        });

        //$("#Assessment_Type").mouseout(function () {
        //    document.getElementById("Warning").innerHTML = ""
        //    document.getElementById("Warning").style.backgroundColor = "white";
        //});
    });
</script>

<script>

    window.onload = function () {
        forceAssessmentType();
    };


    function forceAssessmentType() {

        var d = document.getElementById("Assessment_Type");
        d.className += " form-control";


    }

</script>
<style>
    .isa_info, .isa_success, .isa_warning, .isa_error {
        margin: 10px 0px;
        padding: 12px;
    }

    .isa_info {
        color: #00529B;
        text-align: center;
    }

    .isa_success {
        color: #4F8A10;
        background-color: #DFF2BF;
        text-align: center;
    }

    .isa_warning {
        color: #9F6000;
        background-color: #FEEFB3;
        text-align: center;
    }

    .isa_error {
        color: #D8000C;
        background-color: #FFBABA;
        text-align: center;
    }

        .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
            margin: 10px 22px;
            font-size: 2em;
            vertical-align: middle;
        }
</style>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>