@model IEnumerable<LibraryAssistantApp.Models.Questionnaire>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.DeleteComplete == "Yes")
{
    <div style="text-align:center" class="isa_success">@ViewBag.DeleteCompleteMessage</div>
}
@if (ViewBag.CreateComplete == "Yes")
{
    <div style="text-align:center" class="isa_success">@ViewBag.CreateCompleteMessage</div>
}
@if (ViewBag.EditComplete == "Yes")
{
    <div style="text-align:center" class="isa_success">@ViewBag.EditCompleteMessage</div>
}
@if (ViewBag.Error == "Yes")
{
    <div style="text-align:center" class="isa_error">@ViewBag.ErrorMessage</div>
}

<h3>Questionnaires</h3>

<div class="col-md-8">
    <h4 class="bg-info-1 shaded">
        Questionnaire Details
    </h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <table id="tbl-quest-3" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Assessment_Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Question_Topic.Topic_Name)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="4">No rows match search criteria</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr id="@item.Questionnaire_ID">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Assessment_Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Question_Topic.Topic_Name)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="btn-group">
                @Html.ActionLink("Update", "Edit", null, htmlAttributes: new { @class = "btn btn-primary btn-edit", title="Update the selected questionnaire." })
            </div>
            <div class="btn-group">
                @Html.ActionLink("Details", "Edit", null, htmlAttributes: new { @class = "btn btn-primary btn-view", title = "View the details of the selected questionnaire." })
            </div>
            <div class="btn-group">
                @Html.ActionLink("Delete", "Edit", null, htmlAttributes: new { @class = "btn btn-primary btn-delete", title = "Delete the selected questionnaire." })
            </div>
            <div class="btn-group pull-right">
                <button title="Create a new questionnaire." id="Select_Button" type="button" class="btn btn-primary" onclick="Create()">Create New</button>
            </div>
        </div>
    </div>
</div>



<div class="col-md-4">
    <h4 class="bg-info-1 shaded">
        Search
    </h4>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">
                        Name
                    </label>
                    <div class="form-group-sm">
                        @Html.TextBox("Search", null, htmlAttributes: new { @class = "form-control", id = "Search", @Value = (string)ViewBag.Search, @title = "Search questionnaires by name." })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">
                        Topic
                    </label>
                    <div class="form-group-sm">
                        @Html.DropDownList("Topic", null, "All", htmlAttributes: new { @class = "form-control", id = "Topic", @title= "Search questionnaires by topic." })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">
                        Assesment Type
                    </label>
                    <div class="form-group-sm">
                        @Html.DropDownList("Assessment_Type", new List<SelectListItem>
                     {
                        new SelectListItem{ Text="Other", Value = "Other" },
                        new SelectListItem{ Text="Venue", Value = "Venue" },
                        new SelectListItem{ Text="Employee", Value = "Employee" },
                        new SelectListItem{ Text="Training Session", Value = "Training Session" }
                     }, "All", htmlAttributes: new { @class = "form-control", id = "Assessment_Type", @value = (string)ViewBag.Assessment_Type, @title = "Search questionnaires by assessment type." })
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding-top:10px">
                @if (ViewBag.CheckBox == "false")
                {
                    <ul style="list-style:none">
                        <li>
                            <label class="control-label" for="CheckBox">In-active Questionnaires</label>
                            @Html.CheckBox("Include in-active questionaires", false, htmlAttributes: new { @value = "Include in-active questionaires", id = "CheckBox", @title= "When ticked all expired questionnaires will be included in the search." })
                        </li>
                    </ul>
                }
                else
                {
                    <ul style="list-style:none">
                        <li>
                            <label class="control-label" for="CheckBox">In-active Questionnaires</label>
                            @Html.CheckBox("Include in-active questionaires", true, htmlAttributes: new { @value = "Include in-active questionaires", id = "CheckBox", @title = "When ticked all expired questionnaires will be included in the search." })
                        </li>
                    </ul>
                }
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group-sm">
                        <div class="btn-group">
                            <input title="Search questionnaires according to the search criteria." type="submit" class="btn btn-primary" value="Search" onclick="Search();" />
                        </div>
                        <div class="btn-group">
                            <input  title="Reset the search criteria and display all questionnaires" type="button" class="btn btn-primary" value="Clear" onclick="location.href='@Url.Action("Index","Questionnaire")'" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
    function Search() {
        var Search = document.getElementById("Search").value;
        var Topic = document.getElementById("Topic").value;
        var Assessment_Type = document.getElementById("Assessment_Type").value;
        var CheckBox = document.getElementById("CheckBox").checked;

        window.location.href = "/Questionnaire/Search?Search=" + Search + "&Topic=" + Topic + "&Assessment_Type=" + Assessment_Type + "&CheckBox=" + CheckBox;
    }

    function Create()
    {
        var Search = document.getElementById("Search").value;
        var Topic = document.getElementById("Topic").value;
        var Assessment_Type = document.getElementById("Assessment_Type").value;

        window.location.href = "/Questionnaire/Create?Name=" + Search + "&Topic=" + Topic + "&Assessment_Type=" + Assessment_Type ;
        
    }
</script>

<style>
    .isa_info, .isa_success, .isa_warning, .isa_error {
        margin: 10px 0px;
        padding: 12px;
        text-align: center;
    }

    .isa_info {
        color: #00529B;
        background-color: #BDE5F8;
        text-align: center;
    }

    .isa_success {
        color: #4F8A10;
        background-color: #DFF2BF;
    }

    .isa_warning {
        color: #9F6000;
        background-color: #FEEFB3;
        text-align: center;
    }

    .isa_error {
        color: #D8000C;
        background-color: #FFBABA;
        text-align: center;
    }

        .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
            margin: 10px 22px;
            font-size: 2em;
            vertical-align: middle;
        }
</style>


<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#tbl-quest-3').DataTable();
        $('#tbl-quest-3 tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selectedrow')) {
                $(this).removeClass('selectedrow');
            }
            else {
                table.$('tr.selectedrow').removeClass('selectedrow');
                $(this).addClass('selectedrow');
            }
            $('.btn-edit').attr('href', '/Questionnaire/Edit/' + $(this).attr('id'));
            $('.btn-delete').attr('href', '/Questionnaire/Delete/' + $(this).attr('id'));
            $('.btn-view').attr('href', '/Questionnaire/Details/' + $(this).attr('id'));
        });
    });
</script>