
@{

//Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Questionnaire results</title>
</head>
<body>
    <a href="/help/questionnaire.pdf" title="Page Help"><div class="btn-help"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span></div></a>

    <div>
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Questionnaire: @ViewBag.Questionnaire_Name</h3></div>
            <div class="panel-body">

                @if (ViewBag.Person_Involved != "None")
                {

                    <b>Person being assessed</b>
                        <br />
                        <p class="form-control">@ViewBag.Person_Involved</p>

                }

                @if (ViewBag.Selected_Training_Session != "None")
                {
                    <p>
                        <h4>Training session being assessed</h4>
                    </p>

                    <b>Time Slot</b>
                        <br />
                        <p class="form-control">@ViewBag.Selected_Training_Session</p>

                        <b>Topic</b>
                        <br />
                        <p class="form-control">@ViewBag.Training_Topic</p>

                }

                @if (ViewBag.VenueName != "None")
                {
                    <p>
                        <h4>Venue being assessed</h4>
                    </p>

                    <b>Campus</b>
                    <br />
                        <p class="form-control">@ViewBag.Campus</p>

                        <b>Building</b>
                        <br />
                        <p class="form-control">@ViewBag.BuildingName</p>

                        <b>Building Floor</b>
                        <br />
                        <p class="form-control">@ViewBag.BuildingFloor</p>

                        <b>Venue</b>
                        <br />
                        <p class="form-control">@ViewBag.VenueName</p>

                }

                <b>Amount of responses to this questionnaire</b>
                <br />
                <p class="form-control">@ViewBag.Responded</p>

            

            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Questionnaire</h3></div>
            <div class="panel-body">

                @if (ViewBag.Count_Q_Questions > 0)
                {
                    <div class="panel panel-default">
                        @if (ViewBag.AsnwerOptional_Q1 == 0)
                        {
                            <div class="panel-heading">
                                * 1) @ViewBag.Question1
                                <label class="text-danger" id="Error_Q1"></label>
                                @Html.Hidden("Mandatory_Q1", "Yes", new { id = "Mandatory_Q1" })
                            </div>
                        }
                        else
                        {
                            <div class="panel-heading">
                                1) @ViewBag.Question1
                                @Html.Hidden("Mandatory_Q1", "No", new { id = "Mandatory_Q1" })
                            </div>
                        }
                        <div class="panel-body">
                            @if (ViewBag.Question1_StyleType == "Free Text")
                            {
                                for (int i = 0; i < ViewBag.Free_text_responses_Q1_Count; i++)
                                {
                                    <p>
                                        @ViewBag.Free_text_responses_Q1[i]
                                    </p>
                                    <hr style="color: black">
                                }
                            }
                            else
                            {

                                <table class="table table-hover">
                                    <tr>
                                        <th>
                                        Possible answer
                                        </th>
                                        <th style="text-align:center;">
                                          Responses
                                        </th>
                                        <th style="text-align:center;">
                                            Score (%)
                                        </th>
  
                                        @if (ViewBag.Count1 > 0)
                                        {                                            
                                            <tr>
                                                <td>
                                                   @ViewBag.PossibleAnswer1_Q1
                                                </td>
                                                <td style="text-align:center;">
                                                   @ViewBag.Responses_1_Q1
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_1_Q1
                                                </td>
                                             </tr>
                                        }         
                                                                         
                                     @if (ViewBag.Count1 > 1)
                                    {
                                        <tr>
                                            <td>
                                                @ViewBag.PossibleAnswer2_Q1
                                            </td>
                                            <td style="text-align:center;">
                                                @ViewBag.Responses_2_Q1
                                            </td>
                                            <td style="text-align:center;">
                                                @ViewBag.Percentage_2_Q1
                                            </td>
                                        </tr>
                                        }
                                        @if (ViewBag.Count1 > 2)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer3_Q1
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_3_Q1
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_3_Q1
                                                </td>
                                            </tr>
                                        }
                                        @if (ViewBag.Count1 > 3)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer4_Q1
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_4_Q1
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_4_Q1
                                                </td>
                                            </tr>
                                        }
                                        @if (ViewBag.Count1 > 4)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer5_Q1
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_5_Q1
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_5_Q1
                                                </td>
                                            </tr>
                                        }
                                    
                                </table>
                            }

                        </div>
                    </div>
                }


                @if (ViewBag.Count_Q_Questions > 1)
                {
                    <div class="panel panel-default">
                        @if (ViewBag.AsnwerOptional_Q2 == 0)
                        {
                            <div class="panel-heading">
                                * 2) @ViewBag.Question2
                                <label class="text-danger" id="Error_Q2"></label>
                                @Html.Hidden("Mandatory_Q2", "Yes", new { id = "Mandatory_Q2" })
                            </div>
                        }
                        else
                        {
                            <div class="panel-heading">
                                2) @ViewBag.Question2
                                @Html.Hidden("Mandatory_Q2", "No", new { id = "Mandatory_Q2" })
                            </div>
                        }
                        <div class="panel-body">

                            @if (ViewBag.Question2_StyleType == "Free Text")
                            {
                                for (int i = 0; i < ViewBag.Free_text_responses_Q2_Count; i++)
                                {
                                    <p>
                                        @ViewBag.Free_text_responses_Q2[i]
                                    </p>
                                    <hr style="color: black">
                                }
                            }
                            else
                            {

                                <table class="table table-hover">
                                    <tr>
                                        <th>
                                            Possible answer
                                        </th>
                                        <th style="text-align:center;">
                                            Responses
                                        </th>
                                        <th style="text-align:center;">
                                            Score (%)
                                        </th>

                                        @if (ViewBag.Count2 > 0)
                                        {
                                        <tr>
                                            <td>
                                                @ViewBag.PossibleAnswer1_Q2
                                            </td>
                                            <td style="text-align:center;">
                                                @ViewBag.Responses_1_Q2
                                            </td>
                                            <td style="text-align:center;">
                                                @ViewBag.Percentage_1_Q2
                                            </td>
                                        </tr>
                                        }
                                        @if (ViewBag.Count2 > 1)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer2_Q2
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_2_Q2
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_2_Q2
                                                </td>
                                            </tr>
                                        }
                                        @if (ViewBag.Count2 > 2)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer3_Q2
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_3_Q2
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_3_Q2
                                                </td>
                                            </tr>
                                        }
                                        @if (ViewBag.Count2 > 3)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer4_Q2
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_4_Q2
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_4_Q2
                                                </td>
                                            </tr>
                                        }
                                        @if (ViewBag.Count2 > 4)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer5_Q2
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_5_Q2
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_5_Q2
                                                </td>
                                            </tr>
                                        }

                                    </table>
                            }

                        </div>
                    </div>
                }

                @if (ViewBag.Count_Q_Questions > 2)
                {
                    <div class="panel panel-default">
                        @if (ViewBag.AsnwerOptional_Q3 == 0)
                        {
                            <div class="panel-heading">
                                * 3) @ViewBag.Question3
                                <label class="text-danger" id="Error_Q3"></label>
                                @Html.Hidden("Mandatory_Q3", "Yes", new { id = "Mandatory_Q3" })
                            </div>
                        }
                        else
                        {
                            <div class="panel-heading">
                                3) @ViewBag.Question3
                                @Html.Hidden("Mandatory_Q3", "No", new { id = "Mandatory_Q3" })
                            </div>
                        }
                        <div class="panel-body">
                            @if (ViewBag.Question3_StyleType == "Free Text")
                            {
                                for (int i = 0; i < ViewBag.Free_text_responses_Q3_Count; i++)
                                {
                                    <p>
                                        @ViewBag.Free_text_responses_Q3[i]
                                    </p>
                                    <hr style="color: black">
                                }
                            }
                            else
                            {

                                <table class="table table-hover">
                                    <tr>
                                        <th>
                                            Possible answer
                                        </th>
                                        <th style="text-align:center;">
                                            Responses
                                        </th>
                                        <th style="text-align:center;">
                                            Score (%)
                                        </th>

                                        @if (ViewBag.Count3 > 0)
                                        {
                                        <tr>
                                            <td>
                                                @ViewBag.PossibleAnswer1_Q3
                                            </td>
                                            <td style="text-align:center;">
                                                @ViewBag.Responses_1_Q3
                                            </td>
                                            <td style="text-align:center;">
                                                @ViewBag.Percentage_1_Q3
                                            </td>
                                        </tr>
                                        }
                                        @if (ViewBag.Count3 > 1)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer2_Q3
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_2_Q3
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_2_Q3
                                                </td>
                                            </tr>
                                        }
                                        @if (ViewBag.Count3 > 2)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer3_Q3
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_3_Q3
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_3_Q3
                                                </td>
                                            </tr>
                                        }
                                        @if (ViewBag.Count3 > 3)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer4_Q3
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_4_Q3
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_4_Q3
                                                </td>
                                            </tr>
                                        }
                                        @if (ViewBag.Count3 > 4)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer5_Q3
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_5_Q3
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_5_Q3
                                                </td>
                                            </tr>
                                        }

                                    </table>
                            }
                        </div>
                    </div>
                }

                @if (ViewBag.Count_Q_Questions > 3)
                {
                    <div class="panel panel-default">
                        @if (ViewBag.AsnwerOptional_Q4 == 0)
                        {
                            <div class="panel-heading">
                                * 4) @ViewBag.Question4
                                <label class="text-danger" id="Error_Q4"></label>
                                @Html.Hidden("Mandatory_Q4", "Yes", new { id = "Mandatory_Q4" })
                            </div>
                        }
                        else
                        {
                            <div class="panel-heading">
                                4) @ViewBag.Question4
                                @Html.Hidden("Mandatory_Q4", "No", new { id = "Mandatory_Q4" })
                            </div>
                        }
                        <div class="panel-body">

                            @if (ViewBag.Question4_StyleType == "Free Text")
                            {
                                for (int i = 0; i < ViewBag.Free_text_responses_Q4_Count; i++)
                                {
                                    <p>
                                        @ViewBag.Free_text_responses_Q4[i]
                                    </p>
                                    <hr style="color: black">
                                }
                            }
                            else
                            {

                                <table class="table table-hover">
                                    <tr>
                                        <th>
                                            Possible answer
                                        </th>
                                        <th style="text-align:center;">
                                            Responses
                                        </th>
                                        <th style="text-align:center;">
                                            Score (%)
                                        </th>

                                        @if (ViewBag.Count4 > 0)
                                        {
                                        <tr>
                                            <td>
                                                @ViewBag.PossibleAnswer1_Q4
                                            </td>
                                            <td style="text-align:center;">
                                                @ViewBag.Responses_1_Q4
                                            </td>
                                            <td style="text-align:center;">
                                                @ViewBag.Percentage_1_Q4
                                            </td>
                                        </tr>
                                        }
                                        @if (ViewBag.Count4 > 1)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer2_Q4
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_2_Q4
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_2_Q4
                                                </td>
                                            </tr>
                                        }
                                        @if (ViewBag.Count4 > 2)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer3_Q4
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_3_Q4
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_3_Q4
                                                </td>
                                            </tr>
                                        }
                                        @if (ViewBag.Count4 > 3)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer4_Q4
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_4_Q4
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_4_Q4
                                                </td>
                                            </tr>
                                        }
                                        @if (ViewBag.Count4 > 4)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer5_Q4
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_5_Q4
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_5_Q4
                                                </td>
                                            </tr>
                                        }

                                    </table>
                            }
                        </div>
                    </div>
                }

                @if (ViewBag.Count_Q_Questions > 4)
                {
                    <div class="panel panel-default">
                        @if (ViewBag.AsnwerOptional_Q5 == 0)
                        {
                            <div class="panel-heading">
                                * 5) @ViewBag.Question5
                                <label class="text-danger" id="Error_Q5"></label>
                                @Html.Hidden("Mandatory_Q5", "Yes", new { id = "Mandatory_Q5" })
                            </div>
                        }
                        else
                        {
                            <div class="panel-heading">
                                5) @ViewBag.Question5
                                @Html.Hidden("Mandatory_Q5", "No", new { id = "Mandatory_Q5" })
                            </div>
                        }
                        <div class="panel-body">

                            @if (ViewBag.Question5_StyleType == "Free Text")
                            {
                                for (int i = 0; i < ViewBag.Free_text_responses_Q5_Count; i++)
                                {
                                    <p>
                                        @ViewBag.Free_text_responses_Q5[i]
                                    </p>
                                    <hr>
                                }
                            }
                            else
                            {

                                <table class="table table-hover">
                                    <tr>
                                        <th>
                                            Possible answer
                                        </th>
                                        <th style="text-align:center;">
                                            Responses
                                        </th>
                                        <th style="text-align:center;">
                                            Score (%)
                                        </th>

                                        @if (ViewBag.Count5 > 0)
                                        {
                                        <tr>
                                            <td>
                                                @ViewBag.PossibleAnswer1_Q5
                                            </td>
                                            <td style="text-align:center;">
                                                @ViewBag.Responses_1_Q5
                                            </td>
                                            <td style="text-align:center;">
                                                @ViewBag.Percentage_1_Q5
                                            </td>
                                        </tr>
                                        }
                                        @if (ViewBag.Count5 > 1)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer2_Q5
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_2_Q5
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_2_Q5
                                                </td>
                                            </tr>
                                        }
                                        @if (ViewBag.Count5 > 2)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer3_Q5
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_3_Q5
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_3_Q5
                                                </td>
                                            </tr>
                                        }
                                        @if (ViewBag.Count5 > 3)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer4_Q5
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_4_Q5
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_4_Q5
                                                </td>
                                            </tr>
                                        }
                                        @if (ViewBag.Count5 > 4)
                                        {
                                            <tr>
                                                <td>
                                                    @ViewBag.PossibleAnswer5_Q5
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Responses_5_Q5
                                                </td>
                                                <td style="text-align:center;">
                                                    @ViewBag.Percentage_5_Q5
                                                </td>
                                            </tr>
                                        }

                                    </table>
                            }
                        </div>
                    </div>
                }

                <div>
                    <button id="Select_Button" type="button" class="btn btn-outline btn-default btn-lg btn-block" onclick="location.href='@Url.Action("Get_Questionnaire_Results", "Questionnaire")'">Done</button>
                </div>



            </div>

        </div>
    </div>
</body>
</html>
