@model IEnumerable<LibraryAssistantApp.Models.Questionnaire>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.ErrorMessage != null)
            {
    <div class="isa_warning">@ViewBag.ErrorMessage</div>

}

<h2>Select a questionnaire to respond to</h2>



<div class="panel panel-default">
    <div class="panel-heading">Search Criteria</div>
    <div class="panel-body">
        <p>
            <b>Search by Questionnaire Name</b>
            <br />
            @Html.TextBox("Search", null, htmlAttributes: new { @class = "form-control", id = "Search", @Value = (string)ViewBag.Search })
            <br />
        </p>

        <p>
            <b>Search by Topic</b>
            <br />
            @Html.DropDownList("Topic", null, "All", htmlAttributes: new { @class = "form-control", id = "Topic" })
        </p>

        <p>
            <b>Search by Assessment Type</b>
            <br />
            @Html.DropDownList("Assessment_Type", new List<SelectListItem>
                     {
                        new SelectListItem{ Text="Other", Value = "Other" },
                        new SelectListItem{ Text="Venue", Value = "Venue" },
                        new SelectListItem{ Text="Employee", Value = "Employee" },
                        new SelectListItem{ Text="Training Session", Value = "Training Session" }
                     }, "All", htmlAttributes: new { @class = "form-control", id = "Assessment_Type", @value = (string)ViewBag.Assessment_Type })
        </p>


        <input type="submit" class="btn btn-default" value="Search" onclick="Search();" /> | <input type="button" class="btn btn-default" value="Clear" onclick="location.href='@Url.Action("Respond_to_questionnaire","Questionnaire")'" />

    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">
        Results

    </div>
    <div class="panel-body">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assessment_Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Question_Topic.Topic_Name)
                </th>
                <th>Actions</th>
                <th>Answered Date</th>
            </tr>

            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4">No rows match search criteria</td>
                </tr>
            }
            else
            {
                int i = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Assessment_Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Question_Topic.Topic_Name)
                        </td>                        
                            @if (ViewBag.RowsRespond[i] == "Yes")
                            {
                                <td>
                                    <input type="button" class="btn btn-default" value="Respond to" onclick="Resubmit(@item.Questionnaire_ID)" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="button" class="btn btn-default" value="Respond to" onclick="location.href='@Url.Action("Answering_Questionnaire", "Questionnaire", new { id = item.Questionnaire_ID })'" />
                                </td>
                            }
                           
                        <td>
                            @ViewBag.AnswerDates[i]
                        </td>  
                        @{i++;}
                        </tr>
                }
            }
        </table>
        @*<input type="button" class="btn btn-" value="Respond to a random questionnaire" onclick="RespondToRandom();" />*@

    </div>
</div>

<script>
    function Search() {
        var Search = document.getElementById("Search").value;
        var Topic = document.getElementById("Topic").value;
        var Assessment_Type = document.getElementById("Assessment_Type").value;

        window.location.href = "/Questionnaire/Respond_to_questionnaire_Search?Search=" + Search + "&Topic=" + Topic + "&Assessment_Type=" + Assessment_Type;
    }
    function RespondToRandom() {
        //     Math.random() * 100) + 1
        window.location.href = "/Questionnaire/Respond_To_Random?";
    }
    function Resubmit(id) {
   
        var r = confirm("Are you sure you want to resubmit? \nYour previous submission will be deleted.");
        if (r == true) {
            window.location.href = "/Questionnaire/ReSubmit?id=" + id;
        }
    }
  


</script>

<style>
    .isa_info, .isa_success, .isa_warning, .isa_error {
        margin: 10px 0px;
        padding: 12px;
    }

    .isa_info {
        color: #00529B;
        background-color: #BDE5F8;
    }

    .isa_success {
        color: #4F8A10;
        background-color: #DFF2BF;
    }

    .isa_warning {
        color: #9F6000;
        background-color: #FEEFB3;
        text-align: center;
    }

    .isa_error {
        color: #D8000C;
        background-color: #FFBABA;
        text-align: center;
    }

        .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
            margin: 10px 22px;
            font-size: 2em;
            vertical-align: middle;
        }
</style>