@using LibraryAssistantApp.Models

@{
    var venue = (Venue)Session["venueSelect"];
    var building = ViewBag.building;
    var campus = ViewBag.campus;
    var topic = ViewBag.topic;
    var session = (TrainingSessionModel)Session["sessionDetails"];
    var timeslots = (List<timeslot>)Session["availableVen"];
}

<div class="col-md-12" id="sessiondetails">

    <div id="sessionTimeslot" onclick="toggleSection('#sessionTimeslot', '#toggleTimeslot')"><span id="specificArrow" class="glyphicon glyphicon-triangle-bottom"></span><b>Select Timeslot:</b></div>

    <hr />

    <div id="toggleTimeslot">
        <div class="panel panel-default col-md-12">
            <table class="table">
                <caption>
                    <h4 class="text-center">Selected Venue and Session Details</h4>
                </caption>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Duration</th>
                        <th>Venue</th>
                        <th>Building</th>
                        <th>Campus</th>
                        <th>Topic</th>
                        <th>Venue Capacity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@session.startDate</td>
                        <td>@session.duration</td>
                        <td>@venue.Venue_Name</td>
                        <td>@building</td>
                        <td>@campus</td>
                        <td>@topic</td>
                        <td>@venue.Capacity</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <table class="table text-center">
                        <thead>
                            <tr class="text-center">
                                <th class="text-center">Select A Timeslot</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (timeslot ts in timeslots)
                            {
                                <tr value="@ts.id">
                                    <td><input type="radio" name="timeslot" value="@ts.id" onclick="getTrainers(this)" data-assigned-id="@ts.id" />  @ts.startDate.TimeOfDay.ToString(@"hh\:mm") - @ts.endDate.TimeOfDay.ToString(@"hh\:mm")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-9" id="possibleTrainers"></div>
        </div>

        <div class="row col-md-12">
            <input type="button" class="btn btn-default" id="btnTimeslotProceed" value="Proceed" onclick="timeslotProceed()" />
        </div>
    </div>   
</div>