@using LibraryAssistantApp.Models

@{ 
    var availableTrainers = (IEnumerable<Registered_Person>)Session["availableTrainers"];
    var allTrainers = (List<Registered_Person>)Session["allTrainers"];
}

<div class="col-md-9" id="possibleTrainers">

    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="nav nav-pills" style="padding-bottom:5px; border-bottom:thin solid lightgrey">
                <li class="active"><a data-toggle="pill" href="#qualifiedT">Qualified Trainers</a></li>
                <li><a data-toggle="pill" href="#allT">All Trainers</a></li>
            </ul>
            <div class="tab-content" style="padding-top:5px">
                <div id="qualifiedT" class="tab-pane fade in active">
                    <table class="table" id="trainerTable">
                        <thead>
                            <tr>
                                <th>Trainer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label><input type="radio" name="trainer" class="trainerCheck" id="None" />  None</label></td>
                            </tr>
                            <tr>
                                <td><label><input type="radio" name="trainer" class="trainerCheck" id="External" />  External Trainer</label></td>
                            </tr>
                            @foreach (Registered_Person rp in availableTrainers)
                            {
                                <tr>
                                    <td title="Select trainer to host training session."><label><input type="radio" name="trainer" class="trainerCheck" id="@rp.Person_ID" />  @rp.Person_ID - @rp.Person_Name @rp.Person_Surname</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div id="allT" class="tab-pane fade">
                    <table class="table" id="allTrainerTable">
                        <thead>
                            <tr>
                                <th>Trainer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label><input type="radio" name="trainer" class="trainerCheck" id="None" />  None</label></td>
                            </tr>
                            <tr>
                                <td><label><input type="radio" name="trainer" class="trainerCheck" id="External" />  External Trainer</label></td>
                            </tr>
                            @foreach (Registered_Person rp in allTrainers)
                            {
                                <tr>
                                    <td title="Select trainer to host training session."><label><input type="radio" name="trainer" class="trainerCheck" id="@rp.Person_ID" />  @rp.Person_ID - @rp.Person_Name @rp.Person_Surname</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    //enable proceed button on checkbox click
    $(document).on('click', '.trainerCheck', function () {
        $("#trainingProThree").prop('disabled', false);
    })

    //initiate datatable
    $('#trainerTable').DataTable({
    });

    //initiate datatable
    $('#allTrainerTable').DataTable({
    });

</script>
