@model IEnumerable<LibraryAssistantApp.Models.venueRating>


<link rel="stylesheet" href="~/Content/datatables.min.css" />
<script src="~/Scripts/DataTable/datatables.min.js"></script>

<div id="detailsTwo" class="row">
    @{
        if (Model.Any())
        {
            <div id="headingTwo" class="bg-info shaded cursor"><span id="arrow" class="glyphicon glyphicon-triangle-bottom pull-right" style="padding-right:20px"></span><b id="venueSummary">Select Venue:</b></div>
            <hr />
<div id="toggleTwo" >            
    <div class="row">
                <div class="col-sm-12">
                    @*<p class="text-muted"><b>Instructions:</b></p>
                    <ul class="text-muted" style="padding-bottom:10px">
                        <li>Click on a venue from the table below to host the training session.</li>
                        <li>Once a venue has been selected, click the 'Proceed' button.</li>
                    </ul>*@
                            <table id="venueTable" class="table table-bordered table-condensed">
                                <thead>
                                    <tr class="shade-blue">
                                        <th>
                                            Building
                                        </th>
                                        <th>
                                            Floor
                                        </th>
                                        <th>
                                            Venue
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.venue.Capacity)
                                        </th>
                                        <th>
                                            Characteristics
                                        </th>
                                        <th>
                                            Match
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="@item.venue.Venue_ID" title="Select venue for training session.">
                                            <td class="building">
                                                @item.building
                                            </td>
                                            <td class="floor">
                                                @item.floor
                                            </td>
                                            <td class="venue">
                                                @item.venue.Venue_Name
                                            </td>
                                            <td>
                                                @item.venue.Capacity
                                            </td>
                                            <td>
                                                @item.characteristics
                                            </td>
                                            <td>
                                                @item.rating %
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                </div>
            </div>
            <div class="row" style="padding-top:25px; padding-bottom:25px">
                <div class="col-sm-12">
                    <input type="button" id="trainingProTwo" class="btn btn-success btn-block" value="Available Timeslots" title="Submit venue seletion and proceed to select timeslot and trainer." />
                </div>
            </div>
    </div>
        }
        else
        {
            <p>No Venues Available</p>
        }
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //initiate datatable
        $('#venueTable').DataTable({
            select: true,
        });

        //enable action buttons on click
        $(document).on('click', '#venueTable tbody tr', function () {
            var selected = $(this).hasClass("selected");
            $("#trainingProTwo").prop('disabled', false);

            if (!selected) {
                $("#trainingProTwo").prop('disabled', true);
            }
        })

        //call function on button proceed click
        $("#trainingProTwo").click(function () {
            $('#possibleTrainers').empty();
            $("#detailsFour").empty();
            $.ajax({
                type: 'GET',
                url: '/Trainer/addTrainingSessionDetails',
                data: { id: $("#venueTable tbody tr.selected").prop('id') },
                success: function (result) {

                    //display the available venues from a partial
                    $('#detailsThree').replaceWith(result);
                    $("#toggleTwo").toggle(400);
                    $("#detailsTwo span").removeClass("glyphicon glyphicon-triangle-bottom");
                    $("#detailsTwo span").addClass("glyphicon glyphicon-triangle-left");
                    $("#trainingProThree").attr('disabled', 'disabled');

                    //append details table
                    var table = $("#bookingDetails");
                    var row = $("#venueTable tbody tr.selected");
                    table.empty();
                    table.append("<tr><td><b>Topic:</b></td><td style='padding-left:5px; padding-bottom:5px'>" + $("#trainingTopic").children(":selected").val() + "</td>");
                    table.append("<tr><td><b>Date:</b></td><td style='padding-left:5px; padding-bottom:5px'>" + $("#datepicker").val() + "</td></tr>");
                    table.append("<tr><td><b>Campus:</b></td><td style='padding-left:5px; padding-bottom:5px'>" + $("#trainingCampus").children(":selected").val() + "</td></tr>");
                    table.append("<tr><td><b>Building:</b></td><td style='padding-left:5px; padding-bottom:5px'>" + row.find(".building").text() + "</td></tr>");
                    table.append("<tr><td><b>Floor:</b></td><td style='padding-left:5px; padding-bottom:5px'>" + row.find(".floor").text() + "</td></tr>")
                    table.append("<tr><td><b>Venue:</b></td><td style='padding-left:5px; padding-bottom:5px'>" + row.find(".venue").text() + "</td></tr>")
                },
                error: function (err, result) {
                    alert("Error in assigning dataToSave" + err.responseText);
                }
            });
        })

        //toggle details when clicked
        $("#headingTwo").click(function () {
            $("#toggleTwo").toggle(400);
            if ($("#headingTwo span").hasClass("glyphicon glyphicon-triangle-left")) {
                $("#headingTwo span").removeClass("glyphicon glyphicon-triangle-left");
                $("#headingTwo span").addClass("glyphicon glyphicon-triangle-bottom");
            } else {
                $("#headingTwo span").removeClass("glyphicon glyphicon-triangle-bottom");
                $("#headingTwo span").addClass("glyphicon glyphicon-triangle-left");
            }
        });
    })
</script>
