@model IEnumerable<LibraryAssistantApp.Models.AttendanceModel>

@using LibraryAssistantApp.Models

@{
    ViewBag.Title = "Log Attendants";
    var certificates = (List<Document_Repository>)ViewBag.Certificates;
}
<a href="/help/training_maintain.pdf" title="Page Help"><div class="btn-help"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span></div></a>s
<h2>Log Attendance</h2>
<h4 class="bg-info shaded">Please provide attendance details below:</h4>
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-12">
                <p class="text-muted"><b>Instructions:</b></p>
                <ul>
                    <li><p class="text-muted">Indicate whether a student was present at the training session.</p></li>
                    <li><p class="text-muted">Indicate whether to send a certificate.</p></li>
                    <li><p class="text-muted">Once complete click the 'Save' button.</p></li>
                </ul>
            </div>
            <div class="col-md-8">
                <h4 class="bg-warning shaded">Students Register:</h4>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        Student Number
                                    </th>
                                    <th>
                                        Student Name
                                    </th>
                                    <th>
                                        Attended
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="@item.student.Person_ID">
                                        <td>
                                            @item.student.Person_ID
                                        </td>
                                        <td>
                                            @item.student.Person_Name @item.student.Person_Surname
                                        </td>
                                        <td>
                                            <input type="checkbox" value="@item.student.Person_ID" name="attCheck" class="attended"/>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h4 class="bg-warning shaded">Send Certificates:</h4>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <select class="form-control center-block" id="certificateSend">
                                <option selected value="no">No</option>
                                <option value="yes">Yes</option>
                            </select>
                        </div>
                    </div>
                </div>
                @{
                    if (certificates.Any())
                    {
                        <div id="certificateToggle">
                            <h4 class="bg-warning shaded">Select Certificate File:</h4>
                            <div class="panel panel-default">
                                <table class="table text-center" id="certificateTable">
                                    <tbody>
                                        @foreach (var certificate in certificates)
                                        {
                                            <tr id="@certificate.Document_Seq">
                                                <td>@certificate.Document_Name</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="certificateToggle" class="text-center">
                            <h4 class="bg-warning shaded">Select Certificate File:</h4>
                            <text>No Certificates Exist</text>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="row col-md-12">
                <input type="submit" value="Save" class="btn btn-primary" id="btnLogAtt" />
        </div>
    </div>

<div id="loading"></div>

@section script{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#certificateToggle").hide();

            $("#certificateSend").change(function () {
                $("#certificateToggle").toggle(800);
            })

            //highlight file selected
            $("#certificateTable tbody tr").click(function () {
                var selected = $(this).hasClass("alert-info");
                $("#certificateTable tr").removeClass("alert-info");

                if (!selected) {
                    $(this).addClass("alert-info");
                }
            });

            $("#btnLogAtt").click(function () {
                //check if document has been selected
                var docCheck = $('.alert-info').attr('id');
                var document;
                var sendCert;
                var certCheck = $("#certificateSend").val();

                if (docCheck != undefined && certCheck == "yes")
                {
                    document = docCheck;
                }

                var checked = [];

                $("input[name=attCheck]:checked").each(function () {
                    checked.push($(this).val());
                })

                $("#btnLogAtt").hide();

                $.ajax({
                    type: 'post',
                    url: '/Trainer/submitAttendance',
                    data: { attended: JSON.stringify(checked), document: document },
                    success: function (result) {                       
                        window.location.href = "/Trainer/manageTrainingSession";                        
                    },
                    error: function (err, result) {
                        alert("Error in assigning dataToSave" + err.responseText);
                    }
                });                
            })

            //laoding div
            var $loading = $('#loading').hide();
            $(document)
              .ajaxStart(function () {
                  $loading.show();
              })
              .ajaxStop(function () {
                  $loading.hide();
              });

            //loading div
            var opts = {
                lines: 13 // The number of lines to draw
            , length: 28 // The length of each line
            , width: 14 // The line thickness
            , radius: 42 // The radius of the inner circle
            , scale: 0.3 // Scales overall size of the spinner
            , corners: 1 // Corner roundness (0..1)
            , color: '#000' // #rgb or #rrggbb or array of colors
            , opacity: 0.25 // Opacity of the lines
            , rotate: 0 // The rotation offset
            , direction: 1 // 1: clockwise, -1: counterclockwise
            , speed: 1 // Rounds per second
            , trail: 60 // Afterglow percentage
            , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
            , zIndex: 2e9 // The z-index (defaults to 2000000000)
            , className: 'spinner' // The CSS class to assign to the spinner
            , top: '50%' // Top position relative to parent
            , left: '50%' // Left position relative to parent
            , shadow: false // Whether to render a shadow
            , hwaccel: false // Whether to use hardware acceleration
            , position: 'absolute' // Element positioning
            }
            var target = document.getElementById('loading')
            var spinner = new Spinner(opts).spin(target);
        })
    </script>
    }
