@model LibraryAssistantApp.Models.TrainingDetailsModel

    <div id="trainingDetails" class="col-md-4">

        <div class="panel panel-default">
            @*<div class="panel-heading">
                Training Session Details
            </div>*@
            <div class="panel-body text-center">

                <b class="text-center">Training Session Details</b>

                <hr />

                <div class="text-left">
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-right:5em"><b>@Html.DisplayNameFor(m => m.personId)</b></td>
                                <td>@Html.DisplayFor(m => m.personId)</td>
                            </tr>

                            <tr>
                                <td><b>@Html.DisplayNameFor(m => m.bookingType)</b></td>
                                <td>@Html.DisplayFor(m => m.bookingType)</td>
                            </tr>
                            <tr>
                                <td><b>@Html.DisplayNameFor(m => m.category)</b></td>
                                <td>@Html.DisplayFor(m => m.category)</td>
                            </tr>
                            <tr>
                                <td><b>@Html.DisplayNameFor(m => m.topic)</b></td>
                                <td>@Html.DisplayFor(m => m.topic)</td>
                            </tr>
                            <tr>
                                <td><b>@Html.DisplayNameFor(m => m.date)</b></td>
                                <td>@Html.DisplayFor(m => m.date)</td>
                            </tr>
                            <tr>
                                <td><b>@Html.DisplayNameFor(m => m.timeslot)</b></td>
                                <td>@Html.DisplayFor(m => m.timeslot)</td>
                            </tr>
                            <tr>
                                <td><b>@Html.DisplayNameFor(m => m.campus)</b></td>
                                <td>@Html.DisplayFor(m => m.campus)</td>
                            </tr>
                            <tr>
                                <td><b>@Html.DisplayNameFor(m => m.building)</b></td>
                                <td>@Html.DisplayFor(m => m.building)</td>
                            </tr>
                            <tr>
                                <td><b>@Html.DisplayNameFor(m => m.venue)</b></td>
                                <td>@Html.DisplayFor(m => m.venue)</td>
                            </tr>
                        </tbody>
                    </table>

                    <hr />

                    <input type="button" value="Cancel" class="btn btn-default" id="cancelTraining" />
                </div>

                @{
                    if (Model.attendance)
                    {
                        <hr />

                        <b>Training Session Actions</b>

                        <hr />

                        @Html.ActionLink("Generate Attendance Register", "generateAttendance", "Trainer", null, htmlAttributes: new { @class = "btn btn-default btn-block" })
                        @Html.ActionLink("Log Attendance", "logAttendance", "Trainer", null, htmlAttributes: new { @class = "btn btn-default btn-block" })
                    }
                    else
                    {
                        <hr />

                        <b>No Attendees</b>
                    }
                }                        
            </div>            
        </div> 
          
    </div>
