@model LibraryAssistantApp.Models.Category

@{
    ViewBag.Title = "Maintain Category";
}

<h2>Maintain Category</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    Enter Updated Category Details Below:
                </div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Category_ID)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Category_Name, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.Category_Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Category_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "description" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    @Html.ActionLink("Back", "viewCategory", "Trainer", htmlAttributes: new { @class = "btn btn-default" })
                    <input type="submit" value="Update Category" class="btn btn-default" name="submitButton" />
                    <input type="submit" value="Delete Category" class="btn btn-default" name="submitButton"/>
                </div>
            </div>
        </div>
    </div>
}