@model IEnumerable<LibraryAssistantApp.Models.Document_Type>

@{
    ViewBag.Title = "View File Types";
}

<h2>Existing File Types</h2>

@Html.ActionLink("Add File Type", "AddFileType", "Repository")

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered" id="typeTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Document_Type_Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Document_Type_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "UpdateFileType", new { id = item.Document_Type_ID }) |
                            @Html.ActionLink("Delete", "DeleteFileType", new { id = item.Document_Type_ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#typeTable").DataTable();
    })
</script>
