@model IEnumerable<LibraryAssistantApp.Models.Document_Repository>

@{
    ViewBag.Title = "GetTutorials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Matching Tutorials - @Session["catName"]</h2>

<div class="form-horizontal">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Document_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document_Category.Category_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document_Extension.Extension_Type)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Document_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Document_Category.Category_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Document_Extension.Extension_Type)
                </td>
                <td>
                    @Html.ActionLink("Download", "DownloadFile", new { id = item.Document_Seq })
                </td>
            </tr>
        }

    </table>
</div>
<hr />
<div class="form-group">
    <div>
        @Html.ActionLink("Back", "ViewTutorials", "Repository", htmlAttributes: new { @class = "btn btn-default" })
    </div>
</div>
