@model IEnumerable<LibraryAssistantApp.Models.Document_Type>

@{
    ViewBag.Title = "View File Types";
    Layout = (string)Session["layout"];
}

<h2>Existing File Types</h2>
<hr />
@Html.ActionLink("Add File Type", "AddFileType", "Repository", htmlAttributes: new { @class="btn btn-default"})

<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Document_Type_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Document_Type_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateFileType", new { id=item.Document_Type_ID })
        </td>
    </tr>
}

</table>
