@model IEnumerable<LibraryAssistantApp.Models.Document_Repository>

@using System.Linq

@{
    ViewBag.Title = "ViewFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Files</h2>

<p>
    @Html.ActionLink("Add File", "AddFile", "Repository", htmlAttributes: new { @class = "btn btn-default" })
</p>
@{
    if (Model.Any())
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Document_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Document_Category.Category_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Document_Extension.Extension_Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Document_Type.Document_Type_Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Document_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Document_Category.Category_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Document_Extension.Extension_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Document_Type.Document_Type_Name)
                    </td>
                    <td>
                        @Html.ActionLink("Download", "DownloadFile", new { id = item.Document_Seq }) |
                        @Html.ActionLink("Edit", "UpdateFile", new { id = item.Document_Seq }) |
                        @Html.ActionLink("Delete", "DeleteFile", new { id = item.Document_Seq })
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <div>No files currently exist</div>
    }
}

