@model IEnumerable<LibraryAssistantApp.Models.Document_Repository>

@using System.Linq

@{
    ViewBag.Title = "View Files";
}
<a href="/help/repository.pdf" title="Page Help"><div class="btn-help"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span></div></a>
<div>
    <h2>View Files</h2>
</div>
<hr />
@{
    <div class="row">
        <div class="col-md-12">
            <p class="text-muted"><b>Instuctions:</b></p>
            <ul class="text-muted" style="padding-bottom:10px">
                <li>Download, update, or delete a file by selecting an option.</li>
                <li>Add a new file by clicking the 'Add File' button.</li>
            </ul>
            <h4 class="bg-info shaded">Existing files:</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (Model.Any())
            {
                        <table class="table table-bordered" id="filesTable">
                            <thead>
                                <tr class="shade-blue">
                                    <th>
                                        @Html.DisplayNameFor(model => model.Document_Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Document_Category.Category_Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Document_Extension.Extension_Type)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Document_Type.Document_Type_Name)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Document_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Document_Category.Category_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Document_Extension.Extension_Type)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Document_Type.Document_Type_Name)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Download", "DownloadFile", new { id = item.Document_Seq }) |
                                            @Html.ActionLink("Edit", "UpdateFile", new { id = item.Document_Seq }) |
                                            @Html.ActionLink("Delete", "DeleteFile", new { id = item.Document_Seq })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div>No files currently exist</div>
                    }
                </div>
                <div class="panel-body">
                        @Html.ActionLink("Add New File", "AddFile", "Repository", htmlAttributes: new { @class = "btn btn-primary", @title = "Click to add a new file to the document repository." })
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#filesTable").DataTable();
    })
</script>

