@using System.Web.Optimization
@using LibraryAssistantApp.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UP Library Assistant</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Scripts.Render("~/Scripts/jquery-1.12.4.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.0.js")
    @Scripts.Render("~/Scripts/datetimePicker.js")
    @Scripts.Render("~/bundles/headScripts")
    <script type="text/javascript" src="jspdf.debug.js"></script>

</head>
<body>
    <div class="navbar navbar-custom navbar-fixed-top">
        <!--navbar header-->
        <div class="nav-img">
            <a href="#"><img src="/img/UP_logo.png" alt="" /></a>     
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("UP Library Assistant", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <!--end navbar header-->
        </div>       
        <!--navbar links-->
        <div class="navbar-collapse collapse">
            <!--login Partial will go here-->
            <ul class="nav navbar-nav metismenu" id="menu">
                <li>
                    <a href="#" aria-expanded="false">
                        <span class="navbar-custom-item-icon fa fa-book fa-fw"></span>
                        Personal Bookings
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="#">
                                Create Booking
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Discussion Room", "employeeBookDiscussionRoom", "Booking")
                                </li>
                                <li>
                                    @Html.ActionLink("Training Session", "bookTrainingSess", "Booking")
                                </li>
                            </ul>
                        </li>
                        <li>
                            @Html.ActionLink("View Personal Bookings", "employeeViewBookings", "Booking")
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" aria-expanded="false">
                        <span class="navbar-custom-item-icon fa fa-table fa-fw"></span>
                        Manage Bookings
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="#">
                                Training Sessions
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Create Training Session", "addTrainingSession", "Trainer")
                                </li>
                                <li>
                                    @Html.ActionLink("Manage Training Sessions", "manageTrainingSession", "Trainer")
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Discussion Rooms
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Manage Sessions", "employeeViewBookings", "Booking")
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" aria-expanded="false">
                        <span class="navbar-custom-item-icon fa fa-hospital-o fa-fw"></span>
                        Venues
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="#">View Problems</a>
                        </li>
                        <li>
                            <a href="#">Report Problem</a>
                        </li>
                        <li>
                            <a href="#">Update Problem Status</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" aria-expanded="false">
                        <span class="navbar-custom-item-icon fa fa-graduation-cap fa-fw"></span>
                        Tutorials
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            @Html.ActionLink("Manage Repository", "ViewFile", "Repository")
                        </li>
                        <li>
                            @Html.ActionLink("View Library Map", "ViewMap", "Repository")
                        </li>
                        <li>
                            <a href="#">View Tutorials</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" aria-expanded="false">
                        <span class="navbar-custom-item-icon fa fa-files-o fa-fw"></span>
                        Questionnaires
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="#">Create Questionnaire</a>
                        </li>
                        <li>
                            <a href="#">Manage Questionnaires</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" aria-expanded="false">
                        <span class="navbar-custom-item-icon fa fa-bar-chart fa-fw"></span>
                        Reporting
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            @Html.ActionLink("Session Log", "personSession", "Reporting")
                        </li>
                        <li>
                            @Html.ActionLink("Document Access Log", "documentAccess", "Reporting")
                        </li>
                        <li>
                            @Html.ActionLink("Action Log", "personSessionAction", "Reporting")
                        </li>
                        <li>
                            @Html.ActionLink("Venue Usage Log", "venueUsage", "Reporting")
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" aria-expanded="false">
                        <span class="navbar-custom-item-icon fa fa-wrench fa-fw"></span>
                        Maintenance
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="#">Employees</a>
                        </li>
                        <li>
                            <a href="#">Members</a>
                        </li>
                        <li>
                            <a href="#">
                                Questionnaire
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level" aria-expanded="false">
                                <li>
                                    <a href="#">Questions</a>
                                </li>
                                <li>
                                    <a href="#">Questionnaire Topics</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Access Control
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Roles", "Index", "Roles")
                                </li>
                                <li>
                                    <a href="#">Person Types</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Venues
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level" aria-expanded="false">
                                <li>
                                    <a href="#">Maintain Venues</a>
                                </li>
                                <li>
                                    <a href="#">Venue Types</a>
                                </li>
                                <li>
                                    <a href="#">Characteristics</a>
                                </li>
                                <li>
                                    <a href="#">Common Problem Types</a>
                                </li>
                                <li>
                                    <a href="#">Common Problems</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Courses
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Courses", "viewCategory", "Trainer")
                                </li>
                                <li>
                                    @Html.ActionLink("Courses", "viewTopic", "Trainer")
                                </li>
                            </ul>
                        </li>
                        <li>
                            @Html.ActionLink("File Types", "ViewFileType", "Repository")
                        </li>
                    </ul>
                </li>
                <li>
                    @{
                        if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Login", "Login", "Account")
                        }
                    }
                </li>
            </ul>
            <!-- end navbar links-->
        </div>
    </div>

    <div class="container body-content">
        @Html.Notification()
        @RenderBody()
        <hr />
        <footer>
            <!--<p>&copy; @DateTime.Now.Year - UP Library Assistant</p>-->
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/metisMenu")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.0.min.js")
    @Scripts.Render("~/bundles/jqueryval")

    <!--Metis menu scripts-->

    <script>
        $(function () {
            $('#menu').metisMenu();
        });
    </script>

    <script>
        $(document).on('click', function (event) {
            var container = $("#menu");
            if (!container.is(event.target)
                && container.has(event.target).length === 0)
            {
                $("li").removeClass("active");
                $("ul").removeClass("in");
                $("li").attr("aria-expanded", "false");
            }

        });
    </script>

    <script>
        (function ($) {
            $(document).ready(function () {

                var $this = $('#menu'),
                  resizeTimer,
                  self = this;

                var initCollapse = function (el) {
                    if ($(window).width() >= 768) {
                        this.find('li').has('ul').children('a').off('click');
                    }
                };

                $(window).resize(function () {
                    clearTimeout(resizeTimer);
                    resizeTimer = setTimeout(self.initCollapse($this), 250);
                });

            });
        })(jQuery);
    </script>

    @Scripts.Render("~/Scripts/timepickerInt.js")
    @Scripts.Render("~/Scripts/siteScripts.js")

    @RenderSection("script", required: false)
</body>
</html>
