@using System.Web.Optimization
@using LibraryAssistantApp.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Scripts.Render("~/Scripts/jquery-1.12.4.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.0.js")
    @Scripts.Render("~/Scripts/datetimePicker.js")
    @Scripts.Render("~/bundles/headScripts")

</head>
<body>
    <div class="navbar navbar-custom navbar-fixed-top">
        <!--navbar header-->
        <div class="nav-img">
            <a href="#"><img src="/img/UP_logo.png" alt="" /></a>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("UP Library Assistant", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <!--end navbar header-->
        </div>
        <!--navbar links-->
        <div class="navbar-collapse collapse">
            <!--login Partial will go here-->
            <ul class="nav navbar-nav metismenu" id="menu">
                <li>
                    <a href="#" aria-expanded="false">
                        <span class="navbar-custom-item-icon fa fa-wrench fa-fw"></span>
                        Information
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>Chat with a librarian</li>
                        <li>Contact</li>
                    </ul>
                </li>
                <li>
                    @{
                        if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("Logout", "MyAccount", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Login", "Login", "MyAccount")
                        }
                    }
                </li>
            </ul>
            <!-- end navbar links-->
        </div>
    </div>

    <div class="container body-content">
        @Html.Notification()
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - UP Library Assistant</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/metisMenu")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.0.min.js")
    @Scripts.Render("~/bundles/jqueryval")

    <!--Metis menu scripts-->

    <script>
        $(function () {
            $('#menu').metisMenu();
        });
    </script>

    <script>
        $(document).on('click', function (event) {
            var container = $("#menu");
            if (!container.is(event.target)
                && container.has(event.target).length === 0) {
                $("li").removeClass("active");
                $("ul").removeClass("in");
                $("li").attr("aria-expanded", "false");
            }

        });
    </script>

    <script>
        (function ($) {
            $(document).ready(function () {

                var $this = $('#menu'),
                  resizeTimer,
                  self = this;

                var initCollapse = function (el) {
                    if ($(window).width() >= 768) {
                        this.find('li').has('ul').children('a').off('click');
                    }
                };

                $(window).resize(function () {
                    clearTimeout(resizeTimer);
                    resizeTimer = setTimeout(self.initCollapse($this), 250);
                });

            });
        })(jQuery);
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
