@using System.Web.Optimization
@using LibraryAssistantApp.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title UP Library Assistant</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Scripts.Render("~/Scripts/jquery-1.12.4.js")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.0.js")
    @Scripts.Render("~/Scripts/datetimePicker.js")
    @Scripts.Render("~/bundles/headScripts")
    @Scripts.Render("~/bundles/chart.js")

    <link href="~/Content/animate.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-custom navbar-fixed-top">
        <!--navbar header-->
        <div class="nav-img">
            <a href="#"><img src="/img/UP_logo.png" alt="" /></a>     
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("UP Library Assistant", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <!--end navbar header-->
        </div>       
        <!--navbar links-->
        <div class="navbar-collapse collapse">
            <!--login Partial will go here-->
            <ul class="nav navbar-nav metismenu" id="menu">
                <li>
                    <a href="#" aria-expanded="false">
                        <span class="navbar-custom-item-icon fa fa-book fa-fw"></span>
                        Personal Bookings
                    </a>
                    <ul class="nav-second-level animated fadeIn" aria-expanded="false">
                        <li>
                            <a href="#">
                                Create Booking
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level animated fadeIn" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Discussion Room", "employeeBookDiscussionRoom", "Booking")
                                </li>
                                <li>
                                    @Html.ActionLink("Training Session", "empBookTrainingSess", "Booking")
                                </li>
                            </ul>
                        </li>
                        <li>
                            @Html.ActionLink("View Personal Bookings", "ViewBookings", "Booking")
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" aria-expanded="false">
                        <span class="navbar-custom-item-icon fa fa-table fa-fw"></span>
                        Manage Bookings
                    </a>
                    <ul class="nav-second-level animated fadeIn" aria-expanded="false">
                        <li>
                            <a href="#">
                                Training Sessions
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level animated fadeIn" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Create Training Session", "addNewTrainingSession", "Trainer")
                                </li>
                                <li>
                                    @Html.ActionLink("Manage Training Sessions", "manageTrainingSession", "Trainer")
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Discussion Rooms
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level animated fadeIn" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Manage Sessions", "employeeViewBookings", "Booking")
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" aria-expanded="false">
                        <span class="navbar-custom-item-icon fa fa-files-o fa-fw"></span>
                        Questionnaires
                    </a>
                    <ul class="nav-second-level animated fadeIn" aria-expanded="false">
                        <li>
                            @Html.ActionLink("Questionnaires", "Index", "Questionnaire")
                        </li>
                        <li>
                            @Html.ActionLink("Question Bank", "Index", "Question_Bank")
                        </li>
                        <li>
                            @Html.ActionLink("Question Topics", "Index", "Question_Topic")
                        </li>
                        <li>
                            @Html.ActionLink("Questionnaire Results", "Get_Questionnaire_Results", "Questionnaire")
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" aria-expanded="false">
                        <span class="navbar-custom-item-icon fa fa-bar-chart fa-fw"></span>
                        Reporting
                    </a>
                    <ul class="nav-second-level animated fadeIn" aria-expanded="false">
                        <li>
                            @Html.ActionLink("Bookings Report", "BookingReport", "Reporting")
                        </li>
                        <li>
                            @Html.ActionLink("Session Log", "personSession", "Reporting")
                        </li>
                        <li>
                            @Html.ActionLink("Document Access Log", "documentAccessReport", "Reporting")
                        </li>
                        <li>
                            @Html.ActionLink("Document Usage Report", "documentAccess", "Reporting")
                        </li>
                        <li>
                            @Html.ActionLink("Action Log", "personSessionAction", "Reporting")
                        </li>
                        <li>
                            @Html.ActionLink("Venue Usage Log", "venueUsage", "Reporting")
                        </li>
                        <li>
                            @Html.ActionLink("Training Attendance Log", "trainingAttendance", "Reporting")
                        </li>
                        <li>
                            @Html.ActionLink("Audit Log", "Index", "Person_Session_Action_Log")
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" aria-expanded="false">
                        <span class="navbar-custom-item-icon fa fa-wrench fa-fw"></span>
                        Maintenance
                    </a>
                    <ul class="nav-second-level animated fadeIn" aria-expanded="false">
                        <li>
                            <a href="#">
                                Users
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level animated fadeIn" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Employees", "Index", "Employee")
                                </li>
                                <li>
                                    @Html.ActionLink("Members", "Index", "Member")
                                </li>
                            </ul>
                        </li>
                        @*<li>
                            <a href="#">
                                Access Control
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level animated fadeIn" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Roles", "Index", "Role")
                                </li>
                                <li>
                                    @Html.ActionLink("Person Types", "Index", "PersonType")
                                </li>
                            </ul>
                        </li>*@
                        <li>
                            <a href="#">
                                Venues
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level animated fadeIn" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Maintain Venues", "venueMaintainence", "Venue")
                                </li>
                                <li>
                                    @Html.ActionLink("Venue Characteristics", "viewCharacteristics", "Venue")
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Problems
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level animated fadeIn" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Common Problems", "viewCommonProblems", "Venue")
                                </li>
                                <li>
                                    @Html.ActionLink("Common Problem Types", "viewProblemTypes", "Venue")
                                </li>
                                <li>
                                    @Html.ActionLink("View Venue Problems", "viewProblems", "Venue")
                                </li>
                                <li>
                                    @Html.ActionLink("Report Problem", "reportProblem", "Venue")
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Courses
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level animated fadeIn" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Manage Categories", "viewCategory", "Trainer")
                                </li>
                                <li>
                                    @Html.ActionLink("Manage Topics", "viewTopic", "Trainer")
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                Document Repository
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav-third-level animated fadeIn" aria-expanded="false">
                                <li>
                                    @Html.ActionLink("Manage Files", "ViewFile", "Repository")
                                </li>
                                <li>
                                    @Html.ActionLink("File Types", "ViewFileType", "Repository")
                                </li>
                                <li>
                                    @Html.ActionLink("File Categories", "viewFileCategories", "Repository")
                                </li>
                            </ul>
                        </li>
                        <li>
                            @Html.ActionLink("Backup and Restore", "Index", "Backup")
                        </li>
                        <li>
                            @Html.ActionLink("Settings", "Index", "Settings")
                        </li>
                    </ul>
                </li>
            </ul>
            <ul id="navbar-login">
                <li>
                    @{
                        if (Request.IsAuthenticated)
                        {
                            <a href="/Account/Logout" aria-expanded="false">
                                <span class="navbar-custom-item-icon fa fa-sign-out fa-fw"></span>
                                Logout
                            </a>
                        }
                        else
                        {
                            <a href="/Account/Login" aria-expanded="false">
                                <span class="navbar-custom-item-icon fa fa-sign-in fa-fw"></span>
                                Login
                            </a>
                        }
                    }
                </li>
                <!--general help-->
                <li id="navbar-help">
                    <a href="#" title="General Help">Help</a>
                </li>
            </ul>
            <!-- end navbar links-->
        </div>
    </div>

    <div class="container body-content">
        <div class="row" style="padding-top:10px">           
            @Html.Notification();
        </div>
        @RenderBody()
        <hr />
        <footer>
            <!--<p>&copy; @DateTime.Now.Year - UP Library Assistant</p>-->
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/metisMenu")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.0.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/noty")
    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/bundles/checkboxjs")

    @Scripts.Render("~/Scripts/timepickerInt.js")
    @Scripts.Render("~/Scripts/timepickerInt.js")
    @Scripts.Render("~/Scripts/siteScripts.js")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @RenderSection("script", required: false)
</body>
</html>
