@model List<LibraryAssistantApp.Models.Possible_Answer>






<table class="table">
    <tr>
        <th>
            <h4>Display Order</h4>
        </th>
        <th>
            <h4>Answer Text</h4>
        </th>
    </tr>

    @if (ViewBag.Style_Type_ID != "True or False")
    {

        for (int i = 1; i <= 5; i++)
        {
            <tr>
                <td>
                    @i
                    @Html.Hidden("Display_Order" + i, i, new { id = "Display_Order" + i })
                </td>
                <td>
                    @Html.TextBox("Answer_Text" + i, null, new { htmlAttributes = new { @class = "form-control", id = "Answer_Text" + i } })

                </td>
            </tr>
        }
    }
    else
    {
        for (int i = 1; i <= 2; i++)
        {
            <tr>
                <td>
                    @i
                    @Html.Hidden("Display_Order" + i, i, new { id = "Display_Order" + i })
                </td>
                <td>
                    @Html.TextBox("Answer_Text" + i, null, new { htmlAttributes = new { @class = "form-control", id = "Answer_Text" + i } })

                </td>
            </tr>
        }
    }
</table>

<input type="submit" value="Create" class="btn btn-default" onclick="validateInput();" />

@if (ViewBag.EditNewPossibleAnswer != null)
{<input type="button" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("Possible_Answer_Back", new { ViewBag.Style_Type_ID, ViewBag.Question_Seq, ViewBag.Question_Text, ViewBag.Topic_Seq, ViewBag.Topic_Name, ViewBag.Topic_Des })'" /> }<label class="text-danger" id="Error_Topic_Seq"></label>

<script>
    function RunURL() {
        var Style_Type_ID = document.getElementById("Style_Type_ID").value;

        if (Style_Type_ID == "True or False") {
            var Question_Seq = document.getElementById("Question_Seq").value;
            var Display_Order1 = document.getElementById("Display_Order1").value;
            var Display_Order2 = document.getElementById("Display_Order2").value;
            var Answer_Text1 = document.getElementById("Answer_Text1").value;
            var Answer_Text2 = document.getElementById("Answer_Text2").value;
            var NewTopic = document.getElementById("NewTopic").value;

            window.location.href = "/Question_Bank/Possible_Answer_Create_2?Question_Seq=" + Question_Seq + "&Display_Order1=" + Display_Order1 + "&Display_Order2=" + Display_Order2 + "&Answer_Text1=" + Answer_Text1 + "&Answer_Text2=" + Answer_Text2 + "&NewTopic=" + NewTopic;

        }
        else {

            var Question_Seq = document.getElementById("Question_Seq").value;
            var Display_Order1 = document.getElementById("Display_Order1").value;
            var Display_Order2 = document.getElementById("Display_Order2").value;
            var Display_Order3 = document.getElementById("Display_Order3").value;
            var Display_Order4 = document.getElementById("Display_Order4").value;
            var Display_Order5 = document.getElementById("Display_Order5").value;
            var Answer_Text1 = document.getElementById("Answer_Text1").value;
            var Answer_Text2 = document.getElementById("Answer_Text2").value;
            var Answer_Text3 = document.getElementById("Answer_Text3").value;
            var Answer_Text4 = document.getElementById("Answer_Text4").value;
            var Answer_Text5 = document.getElementById("Answer_Text5").value;
            var NewTopic = document.getElementById("NewTopic").value;

            window.location.href = "/Question_Bank/Possible_Answer_Create_5?Question_Seq=" + Question_Seq + "&Display_Order1=" + Display_Order1 + "&Display_Order2=" + Display_Order2 + "&Display_Order3=" + Display_Order3 + "&Display_Order4=" + Display_Order4 + "&Display_Order5=" + Display_Order5 + "&Answer_Text1=" + Answer_Text1 + "&Answer_Text2=" + Answer_Text2 + "&Answer_Text3=" + Answer_Text3 + "&Answer_Text4=" + Answer_Text4 + "&Answer_Text5=" + Answer_Text5 + "&NewTopic=" + NewTopic;
        }
    }
</script>

<script>
    function validateInput() {

        var Style_Type_ID = document.getElementById("Style_Type_ID").value;

        if (Style_Type_ID == "True or False") {
            document.getElementById("Error_Topic_Seq").innerHTML = "";
            var Answer_Text1 = document.getElementById("Answer_Text1").value;
            var Answer_Text2 = document.getElementById("Answer_Text2").value;
            if (Answer_Text1 == "" && Answer_Text2 == "") {
                document.getElementById("Error_Topic_Seq").innerHTML = "Answer text required";
            }
            else if (Answer_Text1 == "") {
                document.getElementById("Error_Topic_Seq").innerHTML = "Answer text required";
            }
            else if (Answer_Text2 == "") {
                document.getElementById("Error_Topic_Seq").innerHTML = "Answer text required";
            }
            else {
                if (Answer_Text1 == Answer_Text2) {
                    document.getElementById("Error_Topic_Seq").innerHTML = "Answer text required";
                }
                else {
                    RunURL();
                }
            }
        }
        else {
            document.getElementById("Error_Topic_Seq").innerHTML = "";
            var Answer_Text1 = document.getElementById("Answer_Text1").value;
            var Answer_Text2 = document.getElementById("Answer_Text2").value;
            var Answer_Text3 = document.getElementById("Answer_Text3").value;
            var Answer_Text4 = document.getElementById("Answer_Text4").value;
            var Answer_Text5 = document.getElementById("Answer_Text5").value;

            if (Answer_Text2 != "" && (Answer_Text1 == "")) {
                document.getElementById("Error_Topic_Seq").innerHTML = "There is a break in list sequence, please revist.";
            }
            else if (Answer_Text3 != "" && (Answer_Text2 == "" || Answer_Text1 == "")) {
                document.getElementById("Error_Topic_Seq").innerHTML = "There is a break in list sequence, please revist.";
            }
            else if (Answer_Text4 != "" && (Answer_Text2 == "" || Answer_Text1 == "" || Answer_Text3 == "")) {
                document.getElementById("Error_Topic_Seq").innerHTML = "There is a break in list sequence, please revist.";
            }
            else if (Answer_Text5 != "" && (Answer_Text2 == "" || Answer_Text1 == "" || Answer_Text3 == "" || Answer_Text4 == "")) {
                document.getElementById("Error_Topic_Seq").innerHTML = "There is a break in list sequence, please revist.";
            }
            else {
                if (Answer_Text1 == "" && Answer_Text2 == "") {
                    document.getElementById("Error_Topic_Seq").innerHTML = "At least two possible answers are required";
                }
                else if (Answer_Text1 != "" && Answer_Text2 == "" && Answer_Text3 == "" && Answer_Text4 == "" && Answer_Text5 == "") {
                    document.getElementById("Error_Topic_Seq").innerHTML = "At least two possible answers are required";
                }
                else {
                    var unique = "Yes";
                    if (Answer_Text4 != "" || Answer_Text5 != "") {

                        if (Answer_Text1 == Answer_Text2 || Answer_Text1 == Answer_Text3 || Answer_Text1 == Answer_Text4 || Answer_Text1 == Answer_Text5) {
                            unique = "No"
                        }
                        if (Answer_Text2 == Answer_Text3 || Answer_Text2 == Answer_Text4 || Answer_Text2 == Answer_Text5) {
                            unique = "No"
                        }
                        if (Answer_Text3 == Answer_Text2 || Answer_Text3 == Answer_Text4 || Answer_Text3 == Answer_Text5) {
                            unique = "No"
                        }
                        if (Answer_Text4 == Answer_Text2 || Answer_Text4 == Answer_Text3 || Answer_Text4 == Answer_Text5) {
                            unique = "No"
                        }
                        if (Answer_Text5 == Answer_Text2 || Answer_Text5 == Answer_Text3 || Answer_Text5 == Answer_Text4) {
                            unique = "No"
                        }
                    }
                    else if (Answer_Text1 != "" && Answer_Text2 != "" && Answer_Text3 == "") {
                        if (Answer_Text1 == Answer_Text2) {
                            unique = "No"
                        }                       
                    }
                    else {
                        if (Answer_Text1 == Answer_Text2 || Answer_Text1 == Answer_Text3) {
                            unique = "No"
                        }
                        if (Answer_Text2 == Answer_Text3) {
                            unique = "No"
                        }                     
                    }
                    if (unique == "Yes") {
                        RunURL();
                    }
                    else {
                        document.getElementById("Error_Topic_Seq").innerHTML = "All supplied possible answers should be unique";
                    }
                }

            }
        }
    }
</script>