@model LibraryAssistantApp.Models.Question_Bank

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading"><h3>Edit Question </h3></div>
    <div class="panel-body">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Question Details</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Question_Seq)

                <div class="form-group">
                    @Html.LabelFor(model => model.Question_Text, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Question_Text, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Question_Text, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Topic_Seq, "Topic", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Topic_Seq", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Topic_Seq, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Style_Type_ID, "Style Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Style_Type_ID", null, htmlAttributes: new { @class = "form-control", id = "StyleType_Dropdown" })
                        @Html.ValidationMessageFor(model => model.Style_Type_ID, "", new { @class = "text-danger" })
                    </div>
                </div>

               
            </div>


            <div>
             
                    <input type="button" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("Index")'" /> <input data-toggle="tooltip" data-placement="right" title="Edit possible answers" type="submit" value="Next" class="btn btn-default pull-right" /> <div class="isa_info" id="Warning"></div>

             </div>
        }
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    $(document).ready(function(){

        $("#StyleType_Dropdown").mouseenter(function () {
            document.getElementById("Warning").innerHTML = "If the style type is changed then all previously saved possible answers will be deleted and new possible answers must be created."
            document.getElementById("Warning").style.backgroundColor = "#BDE5F8";
        });


        $("#StyleType_Dropdown"). mouseout(function () {
            document.getElementById("Warning").innerHTML = ""
            document.getElementById("Warning").style.backgroundColor = "white";
        });
    })
</script>

<style>
    .isa_info, .isa_success, .isa_warning, .isa_error {
        margin: 10px 0px;
        padding: 12px;
    }

    .isa_info {
        color: #00529B;
        text-align: center;
    }

    .isa_success {
        color: #4F8A10;
        background-color: #DFF2BF;
        text-align: center;
    }

    .isa_warning {
        color: #9F6000;
        background-color: #FEEFB3;
        text-align: center;
    }

    .isa_error {
        color: #D8000C;
        background-color: #FFBABA;
        text-align: center;
    }

        .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
            margin: 10px 22px;
            font-size: 2em;
            vertical-align: middle;
        }
</style>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>