@model LibraryAssistantApp.Models.Question_Bank

@{
    ViewBag.Title = "Edit";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Update Question</h3>
<a href="/help/questionnaire.pdf" title="Page Help"><div class="btn-help"><span><i class="fa fa-question-circle" aria-hidden="true"></i></span></div></a>
<div class="row" style="padding-top:15px; padding-left:25px">
        <p><strong>Update question details:</strong></p>
        <ul style="padding-bottom:0px; padding-top:5px">
            <li>
                <p>Click 'Proceed' to update answers related to this question.</p>
            </li>
            <li>
                <p style="color:darkred"><strong>Note:</strong> Changes made to style type will require completely new possible answers for this question.</p>
            </li>
        </ul>
    </div>
<div class="form-horizontal">
    <div class="col-md-8">
        <h4 class="bg-info shaded">
            Question Details
        </h4>
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Question_Seq, htmlAttributes: new { id = "Question_Seq", @Value = ViewBag.Question_Seq})

                    <div class="form-group">
                        @Html.LabelFor(model => model.Question_Text, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Question_Text, new { htmlAttributes = new { @class = "form-control", id = "Question_Text", @Value = ViewBag.Question_Text, title = "Update the question text" } })
                            @Html.ValidationMessageFor(model => model.Question_Text, "", new { @class = "text-danger", id = "Error_Message"})
                            <label class="text-danger">@ViewBag.ErrorMessage</label>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Topic_Seq, "Topic", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Topic_Seqs", null, htmlAttributes: new { @class = "form-control", id = "Topic_Seqs", title = "Update the selected topic for the question" })
                            @Html.ValidationMessageFor(model => model.Topic_Seq, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <ul class="text-muted" style="padding-top:15px; list-style:none">
                            <li>
                                <p>Style type represents the way in which your question will be displayed. e.g. radio buttons.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Style_Type_ID, "Style Type", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Style_Type_ID", null, htmlAttributes: new { @class = "form-control", id = "StyleType_Dropdown", title = "Update the selected style type. If changed possible answers will be affected" })
                            @Html.ValidationMessageFor(model => model.Style_Type_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom:10px">
        <div class="col-md-6 col-md-offset-6">
            <div class="form-actions">
                <div class="btn-group">
                    <input title="Edit possible answers of this question." type="submit" value="Proceed" class="btn btn-primary" onclick="Submit()"/>
                </div>
                <div class="btn-group">
                    <div class="isa_info" id="Warning"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.ActionLink("Back to List", "BackFromDelete", new { ViewBag.NewTopic, ViewBag.Topic_Seq })


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#StyleType_Dropdown").one("click", function () {
            var n = noty({
                layout: 'topRight',
                text: 'Changes to style type: <br />New answers will need to be assigned to this question!',
                type: 'warning',
                animation: {
                    open: 'animated bounceInRight',
                    close: 'animated bounceOutLeft',
                    easing: 'swing',
                    speed: 500
                },
                timeout: false,
            });
        });

       
    })
</script>

<script>


    function Submit() {

        var StyleType = document.getElementById("StyleType_Dropdown").value;
        var Topic_Seqs = document.getElementById("Topic_Seqs").value;
        var Question_Text = document.getElementById("Question_Text").value;
        var Question_Seq = document.getElementById("Question_Seq").value;
        
        if (Question_Text != "") {
            window.location.href = "/Question_Bank/Editing?Question_Text=" + Question_Text + "&Question_Seq=" + Question_Seq + "&Topic_Seqs=" + Topic_Seqs + "&StyleType=" + StyleType + "&Newtopic=" + '@ViewBag.NewTopic';
        }
        else {
            document.getElementById("Error_Message").innerHTML = "Question text required.";
        }



    }

</script>

<style>
    .isa_info, .isa_success, .isa_warning, .isa_error {
        margin: 10px 0px;
        padding: 12px;
    }

    .isa_info {
        color: #00529B;
        text-align: center;
    }

    .isa_success {
        color: #4F8A10;
        background-color: #DFF2BF;
        text-align: center;
    }

    .isa_warning {
        color: #9F6000;
        background-color: #FEEFB3;
        text-align: center;
    }

    .isa_error {
        color: #D8000C;
        background-color: #FFBABA;
        text-align: center;
    }

        .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
            margin: 10px 22px;
            font-size: 2em;
            vertical-align: middle;
        }
</style>

