@model IEnumerable<LibraryAssistantApp.Models.Question_Bank>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.DeleteComplete == "Yes")
{
    <div style="text-align:center" class="isa_success">@ViewBag.DeleteCompleteMessage</div>
}
@if (ViewBag.CreateComplete == "Yes")
{
    <div style="text-align:center" class="isa_success">@ViewBag.CreateCompleteMessage</div>
}
@if (ViewBag.EditComplete == "Yes")
{
    <div style="text-align:center" class="isa_success">@ViewBag.EditCompleteMessage</div>
}
@if (ViewBag.CannotEdit == "Yes")
{
    <div style="text-align:center" class="isa_error">@ViewBag.CannotEditMessage</div>
}

@Html.Hidden("NewTopic", (string)ViewBag.NewTopic, new { id = "NewTopic" })
<h3>Question Bank</h3>

<div class="col-md-8">
    <h4 class="bg-info-1 shaded">
        Questions
    </h4>
    <div class="panel panel-default">
        <div class="panel-body scrollable">
            <table id="tbl-quest-1" class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Question_Text)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Question_Topic.Topic_Name)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
            {
                        <tr>
                            <td colspan="4">No rows match search criteria</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr id="@item.Question_Seq">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Question_Text)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Question_Topic.Topic_Name)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div style="padding-top:15px">
                <div class="btn-group">
                    @Html.ActionLink("Update", "Edit",null, htmlAttributes: new { @class = "btn btn-primary btn-edit", id = "btnUpate", @title = "Update the selected question" })
                </div>

                @if (ViewBag.rows != 1)
                {
                    <div class="btn-group">
                        @Html.ActionLink("Delete", "Delete", null, htmlAttributes: new { @class = "btn btn-primary btn-delete", id = "btnDelete", @title = "Delete the selected question" })
                    </div>

                }

                
                <div class="btn-group">
                    @Html.ActionLink("View", "ViewQuestion", null, htmlAttributes: new { @class = "btn btn-primary btn-view", id = "btnView", @title = "View how the question will look like on a questionnaire" })
                </div>
                <div class="btn-group pull-right">
                    <button title="Create a new question with possible answers" id="Select_Button" type="button" class="btn btn-primary" onclick="create()">Create New Question</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <h4 class="bg-info-1 shaded">
        Search
    </h4>
    <div class="panel panel-default">
        <div class="panel-body">

        
                <p>
                    <b>Topic</b>
                    <br />

                    @if (ViewBag.NewTopic == "YES")
                    {
                        @Html.DropDownList("Topic", null, "All", htmlAttributes: new { @class = "form-control", id = "Topic", @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.DropDownList("Topic", null, "All", htmlAttributes: new { @class = "form-control", id = "Topic", @title = "Select a topic to search by" })
                    }

                    
                </p>

                <p>
                    <b>Question Name</b>
                    <br />
                    @Html.TextBox("Search", null, htmlAttributes: new { @class = "form-control", id = "Search", @Value= (string)ViewBag.Search, @title = "Search by question name" })
                    <br />
                </p>

                @if (ViewBag.NewTopic == "YES")
                {
                    <div class="btn-group">
                        <input title="Search for questions based on the search criteria" type="submit" class="btn btn-primary" value="Search" onclick="Search()"/>                        
                    </div>
                    <div class="btn-group">
                        <input title="Reset the search criteria and display all questions" style="margin-left: 3px;" type="button" class="btn btn-primary" value="Clear" onclick="Clear()" />
                    </div>                
                }
                else
                {
                    <div class="btn-group">
                        <input title="Search for questions based on the search criteria" type="submit" class="btn btn-primary" value="Search" onclick="Search()"/>
                    </div>
                    <div class="btn-group">
                        <input title="Reset the search criteria and display all questions" style="margin-left: 3px;" type="button" class="btn btn-primary" value="Clear" onclick="location.href='@Url.Action("Index")'" />
                    </div>                      
                }
            
        </div>
    </div>
</div>
@if (ViewBag.NewTopic == "YES")
{
    <div class="row">
        <div class="col-md-4">
            
            <div class="btn-group">
                <input title="Click when done with the new topic's associated questions to complete creation of the new topic'" style="margin-left: 3px;" type="button" class='btn btn-primary' value="Finish creating new topic" onclick="Finish()" />
            </div>
        </div>
    </div>
}

<script>
    function create()
    {
        var Search = document.getElementById("Search").value;
        var Topic = document.getElementById("Topic").value;
        var NewTopic = document.getElementById("NewTopic").value;

        window.location.href = "/Question_Bank/Create?Name=" + Search + "&Topic=" + Topic + "&NewTopic=" + NewTopic;
    }


    function Finish() {
       
        var Topic = document.getElementById("Topic").value;
        
        window.location.href = "/Question_Topic/Finished?TopicName=" + Topic;
    }

    function Search() {
        var Search = document.getElementById("Search").value;
        var Topic = document.getElementById("Topic").value;
        var NewTopic = document.getElementById("NewTopic").value;

        window.location.href = "/Question_Bank/Index?Topic=" + Topic + "&Search=" + Search + "&NewTopic=" + NewTopic;
    }

    function Clear() {
       
        var Topic = document.getElementById("Topic").value;
        var NewTopic = document.getElementById("NewTopic").value;

        window.location.href = "/Question_Bank/Index?Topic=" + Topic + "&Search=" + "" + "&NewTopic=" + NewTopic;
    }

</script>

<style>
    .isa_info, .isa_success, .isa_warning, .isa_error {
        margin: 10px 0px;
        padding: 12px;
        text-align: center;
    }

    .isa_info {
        color: #00529B;
        background-color: #BDE5F8;
        text-align: center;
    }

    .isa_success {
        color: #4F8A10;
        background-color: #DFF2BF;
    }

    .isa_warning {
        color: #9F6000;
        background-color: #FEEFB3;
        text-align: center;
    }

    .isa_error {
        color: #D8000C;
        background-color: #FFBABA;
        text-align: center;
    }

        .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
            margin: 10px 22px;
            font-size: 2em;
            vertical-align: middle;
        }
</style>



<script type="text/javascript">
    $(document).ready(function () {

        $('#tbl-quest-1 tbody tr').click(function () {
        
            $('#tbl-quest-1 tr').removeClass('selectedrow');
            $(this).addClass('selectedrow');
            $('.btn-edit').attr('href', '/Question_Bank/Edit/' + $(this).attr('id') + '?NewTopic=' + '@ViewBag.NewTopic');
            $('.btn-delete').attr('href', '/Question_Bank/Delete/' + $(this).attr('id')+'?NewTopic='+ '@ViewBag.NewTopic');
            $('.btn-view').attr('href', '/Question_Bank/ViewQuestion/' + $(this).attr('id') + '?NewTopic=' + '@ViewBag.NewTopic');
        });
    });
</script>