@model LibraryAssistantApp.Models.Question_Topic

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Questionnaire Topic</h2>

<div class="panel panel-default">
    <div class="panel-heading"><h4>New Topic details</h4></div>
    <div class="panel-body">

        @using (Html.BeginForm("Create","Question_Topic", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Topic_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Topic_Name, new { htmlAttributes = new { @class = "form-control", @Value = (string)ViewBag.Topic_Name } })
                        @Html.ValidationMessageFor(model => model.Topic_Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @Value = (string)ViewBag.Topic_Des } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" /> <input type="button" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("Index","Question_Topic")'" />            
                    </div>
                </div>
            </div>
        }      
    </div>
</div>