@model LibraryAssistantApp.Models.Question_Topic

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading"><h3>Are you sure you want to delete this topic?</h3></div>
    <div class="panel-body">

        <p>All associated questions will be deleted aswell.</p>

        <div>
            
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Topic_Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Topic_Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    <input type="button" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("Index")'" />
                    @Html.Label("", (string)@ViewBag.Error, new { htmlAttributes = new { @class = "text-danger" } })
                </div>
            }
        </div>

    </div>
</div>
